If you're using a cloud-based IaaS, rather than a smaller on-premise solution, Pivotal recommends using a larger default. By default, the maximum number of started instances is 200.

You can configure the maximum number of started instances in the Settings tab of the Elastic Runtime tile. 

<ol>
<li>Log in to Operations Manager.</li>
<li>Click the Elastic Runtime tile.</li>
<li>Click <strong>Application instances</strong> in the sidebar.</li>
<li>In the Max Inflight Container Starts field, type the maximum number of started
instances.
<%= image_tag("max-container-starts.png") %></li>
<li>Click <strong>Save</strong>.</li>