Install the MSI by running a command that sets your environment variables. The command depends on the version of the MSI you are using.

<p class='note'><strong>Note</strong>: In the examples, <code>^</code> represents a line return and is the equivalent of <code>\</code> in bash. The command a one-liner.</p>

The following is an example command for `DiegoWindowsMSI_f0e5ac0.msi (0.1.0.alpha.47)`:

<pre class='terminal'>
msiexec /norestart /i DiegoWindowsMSI.msi ^
CONTAINERIZER_USERNAME=.\Administrator ^
CONTAINERIZER_PASSWORD=secretpassword ^
EXTERNAL_IP=10.10.5.4 ^
CONSUL_IPS=10.10.5.11,10.10.6.11,10.10.7.11 ^
ETCD_CLUSTER=http://10.10.5.10:4001 ^
CF_ETCD_CLUSTER=http://10.244.0.42:4001 ^
MACHINE_NAME=WIN-RD649GEUDP1 ^
STACK=windows2012R2 ^
ZONE=0c35dfe1cf34ec47e2a2 ^
LOGGREGATOR_SHARED_SECRET=loggregator-secret
</pre>

The following is an example command for `DiegoWindowsMSI_f0e5ac0.msi (0.1.0.alpha.47)`:

<pre class='terminal'>
msiexec /norestart /i DiegoWindowsMSI.msi ^
ADMIN_USERNAME=.\Administrator ^
ADMIN_PASSWORD=secretpassword ^
EXTERNAL_IP=10.10.5.4 ^
CONSUL_IPS=10.10.5.11,10.10.6.11,10.10.7.11 ^
ETCD_CLUSTER=http://10.10.5.10:4001 ^
CF_ETCD_CLUSTER=http://10.244.0.42:4001 ^
MACHINE_NAME=WIN-RD649GEUDP1 ^
STACK=windows2012R2 ^
REDUNDANCY_ZONE=0c35dfe1cf34ec47e2a2 ^
LOGGREGATOR_SHARED_SECRET=loggregator-secret
</pre>

## <a id='env-vars'></a>Environment Variables

### <a id='username'></a>CONTAINERIZER\_USERNAME / ADMIN_USERNAME

Username for your account with admin privileges on the Windows machine where you are installing the MSI.

You might need to include `.\` when specifying the username, depending on how your Windows server is configured. For example: `.\Administrator`.

### <a id='password'></a>CONTAINERIZER\_PASSWORD / ADMIN_PASSWORD

Password for your account with admin privileges.

### <a id='ext-ip'></a>EXTERNAL_IP

External IP of the Windows machine where you are installing the MSI.

### <a id='consul-ips'></a>CONSUL_IPS

IP addresses of consul agents from Diego BOSH deployment.

Navigate to your PCF Ops Manager dashboard, click the **Pivotal Elastic Runtime** tile, and select **Status**. Locate your **consul** job and copy the comma-separated list of IP addresses.

### <a id='etcd-cluster'></a>ETCD\_CLUSTER

URI for the Diego etcd cluster from your Cloud Foundry BOSH deployment.

Navigate to your PCF Ops Manager dashboard, click the **Diego** tile, and select **Status**. Locate your **etcd** job and copy the IP addresses. Run the following command to ensure you can connect to the etcd server from Ops Manager:

<pre class='terminal'>
curl http://<etcd-server-ip>:4001/v2/keys/message -XPUT -d value="Hello diego"
</pre>

### <a id='cf-etcd-clust'></a>CF\_ETCD_CLUSTER

URI to the Runtime cf etcd cluster from Cloud Foundry BOSH deployment.

Navigate to your PCF Ops Manager dashboard, click the **Pivotal Elastic Runtime** tile, and select **Status**. Locate your **etcd** job and copy the IP addresses. This must be the URI to the cf etcd cluster, not IP addresses.

### <a id='machine-name'></a>MACHINE_NAME

Hostname of the machine you are installing the Windows MSI on.

This name must be unique across the machines in your cluster.

### <a id='stack'></a>STACK

The name of the stack.

This must be `windows2012R2`.

### <a id='zone'></a>ZONE / REDUNDANCY_ZONE

The BOSH redundancy zone this cell is a part of.

To get this zone, navigate to **EC2 Dashboard>Instances** on your AWS Console. Select the instance name. The zone is separated from the name by a dash in the format `<YOUR-INSTANCE-NAME>-<YOUR-ZONE>`.

For example, an EC2 instance name with `natspartition-abcde12345fedcb54321/0` would have a zone of `abcde12345fedcb54321`.

### <a id='shared-secret'></a>LOGGREGATOR\_SHARED_SECRET

The shared secret listed in your CF Runtime deployment / credentials tab, e.g.:

From the PCF Ops Manager Installation Dashboard, click the **Pivotal Elastic Runtime** tile, and select **Credentials**. Find the **Doppler Server** job. The **Shared Secret Credentials** information is formatted as `XXXXXXXXXX / <YOUR-SHARED-SECRET>`, as shown in the image below.

<%= image_tag("./diego-beta/log-shared-secret.png") %>
