You can configure router sharding for isolation segments depending on your use case:

* **Securing apps that run in an isolation segment**: To provide security guarantees in addition to the firewall rules described above, you can configure sharding of Gorouter's routing table, resulting in a router dedicated for an isolation segment having knowledge only of routes for applications in the same isolation segment. If want this configuration, do the following:
  1. In the **Networking** configuration pane of the Elastic Runtime tile, select the checkbox labeled **Routers reject for Isolation Segments**.
  1. Set the **Router Sharding Mode** in the isolation segment tile to **Isolation Segment Only**. See <a href="../opsguide/installing-pcf-is.html#config">Installing PCF Isolation Segment</a>.

* **Deploying additional routers for Elastic Runtime**: The flexibility of the configuration also supports deployment of a router that that excludes all isolation segments. If want this configuration, do the following:
  1. In the **Networking** configuration pane of the Elastic Runtime tile, select the checkbox labeled **Routers reject for Isolation Segments**. 
  1. Set the **Router Sharding Mode** in the isolation segment tile to **No isolation Segment**. See <a href="../opsguide/installing-pcf-is.html#config">Installing PCF Isolation Segment</a>. 