### Syslog Adapter

Syslog Adapter is a Loggregator component that manages user-provided syslog drains. This component should be scaled depending on the number of your drain bindings.

<p class="note"><strong>Note</strong>: A drain binding is a syslog destination associated with an app. Apps can have multiple bindings.</p>

Pivotal Application Service (PAS) recommends the following formula for determining the number of Syslog Adapter instances:

<p class="tip"><em>Number of Syslog Adapter instances = Number of drain bindings / 500</em></p>

You can use the [`scheduler.drains`](../monitoring/key-cap-scaling.html#scalable-syslog-ksi) and `scheduler.adapters` metrics to configure auto-scaling of Syslog Adapters.
