To configure SSL termination on the Gorouter in <%= vars.product_name %>:

1. Configure your load balancer to pass through TCP requests from the client to the Gorouter.

1. Navigate to the Ops Manager Installation Dashboard.

1. Click the PAS tile in the Installation Dashboard.

1. Click **Networking**.

1. For <%= vars.product_name %> deployments on OpenStack or vSphere, choose IP addresses for the Gorouters from the subnet configured for Ops Manager and enter them in the **Router IPs** field. Then configure your load balancer to forward requests for the above domains to these IP addresses. For more information, see the [Configure Networking](../customizing/configure-pas.html#networking) section of the _Configuring PAS_ topic.  

1. In the **Certificates and private keys for HAProxy and Router** field, click the **Add** button to define at least one certificate keypair for HAProxy and the Gorouter. For each certificate keypair you add, assign a name, enter the PEM-encoded certificate chain and PEM-encoded private key. You can either upload your own certificate or generate an RSA certificate in PAS. For options and instructions on creating a certificate for your wildcard domains, see the [Creating a Wildcard Certificate for <%= vars.product_name %> Deployments](../opsguide/security_config.html#create_or_obtain_certs) section of the _Providing a Certificate for Your TLS Termination Point_ topic.

1. In the **Minimum version of TLS supported by HAProxy and Router**, select the minimum version of TLS to use in Gorouter communications. The Gorouter uses TLS v1.2 by default. If you need to accommodate clients that use an older version of TLS, select a lower minimum version. For a list of TLS ciphers supported by the Gorouter, see [Cipher Suites](#ciphers).

1. Under **TLS termination point**, select **Router**.

1. If you want to use a specific set of TLS ciphers for the Gorouter, configure **TLS cipher suites for Router**. Enter an ordered, colon-separated list of TLS cipher suites in the OpenSSL format. For example, if you have selected support for an earlier version of TLS, you can enter cipher suites supported by this version. For a list of TLS ciphers supported by the Gorouter, see [Cipher Suites](#ciphers). Otherwise, leave the default values in this field. 

1. Under **HAProxy forwards requests to Router over TLS**, select **Disable**.

1. (Optional) If you are not using SSL encryption or if you are using self-signed certificates, you can enable the **Disable SSL certificate verification for this environment** checkbox. Enabling this checkbox also disables SSL verification for route services. 
  <p class="note"><strong>Note:</strong> Enable this checkbox only for development and testing environments. Do not enable it for production environments.</p> 
  
1. (Optional) If you do not want the Gorouter to accept any non-encrypted HTTP traffic, enable the **Disable HTTP on HAProxy and Router** checkbox. 
 
1. Click **Save**.

1. In the PAS tile, click **Resource Config**. 

1. In the **Instances** drop down for the **HAProxy** job, select `0` instances.

1. Click **Save**.
