
In PCF, perform the following steps to configure SSL termination on HAProxy:

1. Navigate to the Ops Manager Installation Dashboard.

1. Click the **Pivotal Application Service (PAS)** tile in the Installation Dashboard.

1. Click **Networking**.

1. Configure the following based on the IaaS of your PCF deployment.
    <table>
    <tr>
     <th>If your PCF deployment is on:</th>
     <th>Then configure the following:</th>
     <th>See also:</th>
    </tr>
    <tr>
     <td>
     OpenStack or vSphere
     </td>
     <td>Decide whether you want your HAProxy to be highly available.<ul>
      <li>If you need highly available HAProxy, then perform the following steps:
      <ol>
        <li>Choose an IP address for each HAProxy instance on the subnet where you deployed PCF.</li>
        <li>In the **HAProxy IPs** field of the **Networking** page, enter the IP addresses you have selected for your HAProxy instances.</li>
        <li>Configure your load balancer (for example, F5 or NSX) to forward domain names to the HAProxy IP addresses.</li>
      </ol>
      <li>If you do not require high availability (for example, you are setting up a development environment), then perform the following steps:
      <ol>
       <li>Skip setting up the load balancer.</li>
       <li>Choose one IP address for the single HAProxy instance.</li>
       <li>Configure DNS to point at the IP address. See [How to Set Up DNS for HAProxy](#haproxy_dns).</li>
      </ol>
    </ul></td>
    <td>For more information, see the PAS networking configuration topic for [OpenStack](../customizing/openstack-er-config.html#networking) or [vSphere](../customizing/config-er-vmware.html#networking). 
    </td>
    <tr>
    <td>
    AWS, GCP or Azure
    </td>
    <td><ol><li>Leave the HAProxy IP address blank.</li>
    <li>In the **Resource Config** page of PAS tile, locate the HAProxy job.</li>
    <li>In the **Load Balancer** column for the HAProxy job, specify the appropriate IaaS load balancer resource.</li>
    </ol>
    </td>
    <td>For more information, see the PAS installation instructions for [AWS](../customizing/pcf-aws-manual-er-config.html#config-elb), [Azure](../customizing/azure-er-config.html#networking), or [GCP](../customizing/gcp-er-config.html#networking).
    </td>
     </tr>
   </table>

1. In the **Certificate and Private Key for HAProxy and Router** fields, enter your PEM-encoded certificate and your PEM-encoded private key. You can either upload your own certificate or generate an RSA certificate in PAS. For options and instructions on creating a certificate for your wildcard domains, see [Creating a Wildcard Certificate for PCF Deployments](../opsguide/security_config.html#create_or_obtain_certs).

1. In the **Minimum version of TLS supported by HAProxy and Router**, select the minimum version of TLS to use in HAProxy communications. HAProxy use TLS v1.2 by default. If you need to accommodate clients that use an older version of TLS, select a lower minimum version. For a list of TLS ciphers supported by the HAProxy, see [TLS Cipher Suites](../security/networking/tls-info.html#ciphers). 

1. Under **HAProxy forwards requests to Router over TLS**, leave **Enabled** selected and provide the backend certificate authority.

1. If you want to use a specific set of TLS ciphers for HAProxy, configure **TLS Cipher Suites for HAProxy**. Enter an ordered, colon-separated list of TLS cipher suites in the OpenSSL format. For example, if you have selected support for an earlier version of TLS, you can enter cipher suites supported by this version. For a list of TLS ciphers supported by the HAProxy, see [TLS Cipher Suites](../security/networking/tls-info.html#ciphers). 

1. If you expect requests larger than the default maximum of 16 Kbytes, enter a new value (in bytes) for **HAProxy Request Max Buffer Size**. You may need to do this, for example, to support apps that embed a large cookie or query string values in headers.

1. (Optional) If you are not using SSL encryption or if you are using self-signed certificates, you can select **Disable SSL certificate verification for this environment**. Selecting this checkbox also disables SSL verification for route services. 
  <p class="note">Use this checkbox only for development and testing environments. Do not select it for production environments.</p>

1. (Optional) If you do not want HAProxy or the Gorouter to accept any non-encrypted HTTP traffic, select the **Disable HTTP on HAProxy and Router** checkbox. 

1. In the **Configure the CF Router support for the X-Forwarded-Client-Cert header** field, select **Always forward the XFCC header in the request, regardless of the whether the client connection is mTLS**.

1. (Optional) If your PCF deployment uses HAProxy and you want it to receive traffic only from specific sources, use the following fields:
    * **Protected Domains**: Enter a comma-separated list of domains from which PCF can receive traffic.
   * **Trusted CIDRs**: Optionally, enter a space-separated list of CIDRs to limit which IP addresses from the Protected Domains can send traffic to PCF.
     
1. Click **Save**. 
