---
title: Monitoring App and Service Instance Usage
owner: CAPI
---

<strong><%= modified_date %></strong>

This topic describes how to use the Cloud Foundry Command Line Interface (cf CLI) to retrieve usage information about your app and service instances through the Cloud Controller and Usage service APIs.

You can also access usage information by using Apps Manager. For more information, see the [Monitoring Instance Usage with Apps Manager](accounting-report-apps-man.html) topic.

## <a id="targetcc"></a>Obtain System Usage Information

Before you can retrieve any app or service information, you must target the Cloud Controller and log in as admin, as follows:

1. Target the endpoint of your Cloud Controller.

	<pre class="terminal">$ cf api api.YOUR-DOMAIN</pre>

2. Log in with your credentials.

	<pre class="terminal">
	$ cf login -u admin
	API endpoint:  api.YOUR-DOMAIN
	Email: user<span>@</span>example.com
	Password:
	Authenticating...
	OK
	...
	Targeted org  YOUR-ORG
	Targeted space  development
 	API endpoint:    https://api.YOUR-DOMAIN (API version:  2.52.0)
 	User:            user@example.com
 	Org:             YOUR-ORG
 	Space:           development
	</pre>

3. Run `curl` for the `/system_usage_report` on the Usage service.

	<pre class="terminal">
	$ curl "https://app-usage.YOUR-DOMAIN/system_usage_report" -k -v -H "authorization:`cf oauth-token`"
	</pre>

## <a id="individual_org"></a> Obtain Usage Information about an Org ###

To obtain individual org usage information, use the following procedure. You must log in as an admin or as an Org Manager or Org Auditor for the org you want to view.

1. Run `cf login -u USERNAME`.

2. Run `curl` for the `/app_usages` or `/service_usages` endpoints on the Usage service.

	<pre class="terminal">
    {
     "total_results": 2,
     "total_pages": 1,
     "prev_url": null,
     "next_url": null,
     "resources": [
        {
            "metadata": {
               "guid": "acf2ce33-ee92-54TY-9adb-55a596a8dcba",
               "url": "/v2/apps/acf2ce33-ee92-54TY-9adb-55a596a8dcba",
               "created_at": "2016-02-06T17:40:31Z",
               "updated_at": "2016-02-06T18:09:17Z"
            },
            "entity": {
               "name": "YOUR-APP",
     [...]
               "space_url": "/v2/spaces/a0205ae0-a691-4667-92bc-0d0dd712b6d3",
               "stack_url": "/v2/stacks/86205f38-84fc-4bc2-b2b8-af7f55669f04",
               "routes_url": "/v2/apps/acf2ce33-ee92-54TY-9adb-55a596a8dcba/routes",
               "events_url": "/v2/apps/acf2ce33-ee92-54TY-9adb-55a596a8dcba/events",
               "service_bindings_url": "/v2/apps/acf2ce33-ee92-54TY-9adb-55a596a8dcba/service_bindings",
	            "route_mappings_url": "/v2/apps/acf2ce33-ee92-54TY-9adb-55a596a8dcba/route_mappings"
               }
            },
        {
            "metadata": {
               "guid": "79bb58cc-3737-43be-ac70-39a2843b5178",
               "url": "/v2/apps/79bb58cc-3737-4540-ac70-39a2843b5178",
               "created_at": "2016-02-15T23:25:47Z",
               "updated_at": "2016-03-12T21:54:59Z"
            },
            "entity": {
               "name": "ANOTHER-APP",
    [...]
               "space_url": "/v2/spaces/a0205ae0-a691-4667-92bc-0d0dd712b6d3",
               "stack_url": "/v2/stacks/86205f38-84fc-4bc2-b2b8-af7f55669f04",
               "routes_url": "/v2/apps/79bb58cc-3737-4540-ac70-39a2843b5178/routes",
               "events_url": "/v2/apps/79bb58cc-3737-4540-ac70-39a2843b5178/events",
               "service_bindings_url": "/v2/apps/79bb58cc-3737-4540-ac70-39a2843b5178/service_bindings",
               "route_mappings_url": "/v2/apps/79bb58cc-3737-4540-ac70-39a2843b5178/route_mappings"
             }
          }
       ]
    }
   </pre>

	The output of this command provides the URL endpoints for each app, within the `metadata: url` section. You can use these app-specific endpoints to retrieve more information about that app. In the example above, the endpoints for the two apps are `/v2/apps/acf2ce33-ee92-54TY-9adb-55a596a8dcba` and `/v2/apps/79bb58cc-3737-4540-ac70-39a2843b5178`.

1. The `summary` endpoint under each app-specific URL retrieves the instances and any bound services for that app.

	<pre class="terminal">
	$ cf curl /v2/apps/acf2ce75-ee92-4bb6-9adb-55a596a8dcba/summary
	{
   	   "guid": "acf2ce75-ee92-4bb6-9adb-55a596a8dcba",
       "name": "YOUR-APP",
       "routes": [
       {
          "guid": "7421b6af-75cb-4334-a862-bc5e1ababfe6",
          "host": "YOUR-APP",
          "path": "",
          "domain": {
             "guid": "fb6bd89f-2ed9-49d4-9ad1-97951a573135",
             "name": "YOUR-DOMAIN.io"
         }
      }
   ],
   "running\_instances": 5,
   "services": [
      {
         "guid": "b9cdr456-3c61-4f8a-a307-9b4ty836fb2e",
         "name": "YOUR-APP-db",
         "bound\_app\_count": 1,
         "last\_operation": {
            "type": "create",
            "state": "succeeded",
            "description": "",
            "updated\_at": null,
            "created\_at": "2016-02-05T04:58:46Z"
         },
            "dashboard_url": "https://cloudfoundry.appdirect.com/api/custom/cloudfoundry/v2/sso/start?serviceUuid=b5cASDF-3c61-4f8a-a307-9bf85j45fb2e",
            "service_plan": {
               "guid": "fbcec3af-3e8d-4ee7-adfe-3f12a137ed66",
               "name": "turtle",
               "service": {
                  "guid": "34dbc753-34ed-4cf1-9a87-a255dfca5339b",
                  "label": "elephantsql",
                  "provider": null,
                  "version": null
   [...]
   </pre>
   
1. To view the `app_usages` report that covers app usage within an org during a period of time, see [Obtain Usage Information about an Org](#individual_org).

	  	
## <a id="retrieve_services"></a> Retrieve Services Information ###

Use `cf curl` to retrieve service instance information. The `service_instances?` endpoint retrieves details about both bound and unbound service instances:

<pre class="terminal">
$ cf curl /v2/service_instances?
{
   "total_results": 4,
   "total_pages": 1,
   "prev_url": null,
   "next_url": null,
   "resources": [
      {
       "metadata": {
           "guid": "b9cdr456-3c61-4f8a-a307-9b4ty836fb2e",
           "url": "/v2/service_instances/b9cdr456-3c61-4f8a-a307-9b4ty836fb2e",
           "created_at": "2016-02-05T04:58:46Z",
           "updated_at": null
       },
       "entity": {
           "name": "YOUR-BOUND-DB-INSTANCE",
           "credentials": {},
           "service_plan_guid": "fbcec3af-3e8d-4ee7-adfe-3f12a137ed66",
           "space_guid": "a0205ae0-a691-4667-92bc-0d0dd712b6d3",
           "gateway_data": null,
           "dashboard_url": "https://cloudfoundry.appdirect.com/api/custom/cloudfoundry/v2/sso/start?serviceUuid=b9cdr456-3c61-4f8a-a307-9b4ty836fb2e",
           "type": "managed_service_instance",
           "last_operation": {
               "type": "create",
               "state": "succeeded",
               "description": "",
               "updated_at": null,
               "created_at": "2016-02-05T04:58:46Z"
            },
            "tags": [],
            "space_url": "/v2/spaces/a0205ae0-a691-4667-92bc-0d0dd712b6d3",
            "service_plan_url": "/v2/service_plans/fbcec3af-3e8d-4ee7-adfe-3f12a137ed66",
            "service_bindings_url": "/v2/service_instances/b9cdr456-3c61-4f8a-a307-9b4ty836fb2e/service_bindings",
            "service_keys_url": "/v2/service_instances/b9cdr456-3c61-4f8a-a307-9b4ty836fb2e/service_keys",
            "routes_url": "/v2/service_instances/b9cdr456-3c61-4f8a-a307-9b4ty836fb2e/routes"
         }
      },
      {
      "metadata": {
           "guid": "78be3399-bdc7-4fbf-a1a4-6858a50d0ff3",
           "url": "/v2/service_instances/78be3399-bdc7-4fbf-a1a4-6858a50d0ff3",
           "created_at": "2016-02-15T23:45:30Z",
           "updated_at": null
       },
       "entity": {
           "name": "YOUR-UNBOUND-DB-INSTANCE",
           "credentials": {},
           "service_plan_guid": "fbcec3af-3e8d-4ee7-adfe-3f12a137ed66",
           "space_guid": "a0205ae0-a691-4667-92bc-0d0dd712b6d3",
           "gateway_data": null,
           "dashboard_url": "https://cloudfoundry.appdirect.com/api/custom/cloudfoundry/v2/sso/start?serviceUuid=78be3399-bdc7-4fbf-a1a4-6858a50d0ff3",
           "type": "managed_service_instance",
           "last_operation": {
              "type": "create",
              "state": "succeeded",
              "description": "",
              "updated_at": null,
              "created_at": "2016-02-15T23:45:30Z"
              },
           "tags": [],
           "space_url": "/v2/spaces/a0205ae0-a691-4667-92bc-0d0dd712b6d3",
           "service_plan_url": "/v2/service_plans/fbcec3af-3e8d-4ee7-adfe-3f12a137ed66",
           "service_bindings_url": "/v2/service_instances/78be3399-bdc7-4fbf-a1a4-6858a50d0ff3/service_bindings",
           "service_keys_url": "/v2/service_instances/78be3399-bdc7-4fbf-a1a4-6858a50d0ff3/service_keys",
           "routes_url": "/v2/service_instances/78be3399-bdc7-4fbf-a1a4-6858a50d0ff3/routes"
           }
        },
      ]
   }
</pre>



