---
title: Monitoring Instance Usage with the Accounting Report
---

The Accounting Report displays instance usage information for your PCF installation. To monitor your instance usage information, select **Accounting Report** from the left navigation.

You can see the average and maximum app instances in use per month under **App Instance Statistics**. The Accounting Report calculates these values from the `start`, `stop`, and `scale` app usage events in Cloud Controller.

The maximum is the largest number of app instances in use at any one time. This value is calculated from data generated after 1.5 is installed. The average count of app instances is calculated from all data already in the Usage Service, including the time prior to 1.5 is installed.

<p class="note"><strong>Note</strong>: The average and maximum app instances do not include activity in the <strong>system</strong> org.</p>

<%= image_tag("accounting-report-v1.5.png") %>

