---
title: Configuring Role-Based Access Control (RBAC) in Ops Manager
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This topic describes how to customize role-based access control (RBAC) in Ops Manager.
Use RBAC to manage which operators in your organization can make deployment changes, view credentials, and manage user roles in Ops Manager.

For information about configuring Ops Manager to use internal authentication or SAML authentication, refer to the Ops Manager configuration topic for your IaaS:

  * [Configuring Ops Manager on AWS](../customizing/aws-om-config-terraform.html#access-om)
  * [Configuring Ops Manager on Azure](../customizing/azure-om-config.html#access-om)
  * [Configuring Ops Manager on GCP](../customizing/gcp-om-config.html#access-om)
  * [Configuring Ops Manager on OpenStack](../customizing/openstack-om-config.html#log-in)
  * [Configuring Ops Manager on vSphere](../customizing/vsphere-config.html#set-up)

## <a id="about"></a>Understand Roles in Ops Manager

You can assign the following roles to determine which operators in your organization make deployment changes, view credentials, and manage user roles in Ops Manager:

![Ops Manager roles diagram](images/roles-diagram.png)

Ops Manager administrators can use the roles defined in the diagram above to meet the security needs of their organization.
The roles provide a range of privileges that are appropriate for different types of users.
For example, assign either **Restricted Control** or **Restricted View** to an operator to prevent access to all Ops Manager credentials.

See the following table for more information about each role:

| **Ops Manager Role** | **Role Definition** | **UAA Scope** |
|----------------------+---------------------+---------------|
| **Ops Manager Administrator** | Administrators can make configuration changes in Ops Manager, view credentials in the **Credentials** tab and Ops Manager API endpoints, change the authentication method, and assign roles to other operators. | `opsman.admin` |
| **Full Control** | Operators can make configuration changes in Ops Manager, click **Apply Changes**, and view credentials in the **Credentials** tab and Ops Manager API endpoints. | `opsman.full_control` |
| **Restricted Control** | Operators can make configuration changes in Ops Manager and click **Apply Changes**. They cannot view credentials in the **Credentials** tab or Ops Manager API endpoints. | `opsman.restricted_control` |
| **Full View** | Operators can view Ops Manager configuration settings and view credentials in the **Credentials** tab and Ops Manager API endpoints. They cannot make configuration changes in Ops Manager. | `opsman.full_view` |
| **Restricted View** | Operators can view Ops Manager configuration settings. They cannot make configuration changes or view credentials in the **Credentials** tab or Ops Manager API endpoints. | `opsman.restricted_view` |

When you install a new Ops Manager instance, all existing users have the Ops Manager Administrator role by default.

To assign one of the above roles to an operator, follow the procedure for granting access using either [internal authentication](#write-internal) or [SAML authentication](#write-saml).

<p class="note"><strong>Note:</strong> Multiple <strong>Restricted View</strong> and <strong>Full View</strong> operators can log in to Ops Manager at the same time. However, other roles with write access cannot log in simultaneously.</p>

## <a id="enable"></a>Enable RBAC in Ops Manager

When you install a new instance of Ops Manager, RBAC is enabled by default.

If you upgrade from an older Ops Manager instance, you must enable RBAC and assign roles to users before they can access Ops Manager.
If you do not assign any roles to a user, they cannot log in to Ops Manager.

<p class="note warning"><strong>WARNING</strong>: Do not assign roles before you enable RBAC.</p>

### <a id="enable-internal"></a>Enable RBAC with Internal Authentication

If you are upgrading from an older version of Ops Manager and use internal authentication, perform the following steps to enable RBAC:

1. Log in to Ops Manager and click the Ops Manager tile.

1. In the **Settings** tab, click **Advanced**.

1. Click **Enable RBAC**. When the confirmation dialog box appears, click **Confirm and Logout**.
  <p class="note"><strong>Note</strong>: Enabling RBAC is permanent. You cannot undo this action. When you upgrade Ops Manager, your RBAC settings remain configured.</p>

### <a id="enable-saml"></a>Enable RBAC with SAML Authentication

If you are upgrading from an older version of Ops Manager and use SAML authentication, perform the steps in this section to enable RBAC.
To enable RBAC in Ops Manager when using SAML authentication, you must configure groups in SAML for admins and non-admins and then map the admin group to Ops Manager.

#### <a id="admin-saml"></a>Step 1: Configure SAML Groups

Perform the following steps to gather information from your SAML dashboard:

1. Log in to your SAML provider dashboard.
1. Create or identify the name of the SAML group that contains Ops Manager admin users.
1. Identify the groups attribute tag you configured for your SAML server.

#### <a id="enable-om-saml"></a>Step 2: Enable RBAC in Ops Manager

Perform the following steps to configure Ops Manager to recognize your SAML admin user group:
<p class="note"><strong>Note</strong>: When RBAC is enabled, only users with the Ops Manager Administrator role can edit SAML configuration.</p>

1. Log in to Ops Manager.
1. In the **Settings** tab, click **RBAC Configuration**.
1. Enter the name of the SAML group that contains Ops Manager admin users in the **SAML Admin Group** field.
1. Enter the groups attribute tag for your SAML server in the **Groups Attribute** field.
1. In the **Settings** tab, click **Advanced**.
1. Click **Enable RBAC**. When the confirmation dialog box appears, click **Confirm and Logout**.
  <p class="note"><strong>Note</strong>: Enabling RBAC is permanent. You cannot undo this action. When you upgrade Ops Manager, your RBAC settings remain configured.</p>

## <a id="manage-roles"></a>Manage RBAC Roles in Ops Manager

You can assign the roles defined in [Understanding Roles in Ops Manager](#about) to determine which operators in your organization make deployment changes, view credentials, and manage user roles in Ops Manager.

### <a id="write-internal"></a>Manage Roles with Internal Authentication

If you configured Ops Manager to use internal authentication, perform the steps in this section to configure roles using the [UAA Command Line Interface (UAAC)](../uaa/uaa-user-management.html).

1. Target your UAA server and log in as an admin: 
    <pre>
    uaac target https<span>:</span>//YOUR-OPSMAN-DOMAIN/uaa
    uaac token owner get
    </pre>

1. When prompted, enter the following credentials. Enter `opsman` for  **Client ID** and leave **Client secret** blank, then enter your username and password:
    <pre>
    Client ID: opsman
    Client secret:
    User name: USERNAME
    Password: YOUR-PASSWORD</pre>

1. **(Optional)** If you are installing a new Ops Manager instance, create users by following the procedure in the [Creating and Managing Users with the UAA CLI (UAAC)](../uaa/uaa-user-management.html#creating-users) topic.

1. Assign one of the following roles to a user, replacing `USERNAME` with their username.
    * **Ops Manager Administrator**:
      <pre>uaac member add opsman.admin USERNAME</pre>
    * **Full Control**:
      <pre>uaac member add opsman.full_control USERNAME</pre>
    * **Restricted Control**:
      <pre>uaac member add opsman.restricted_control USERNAME</pre>
    * **Full View**:
      <pre>uaac member add opsman.full_view USERNAME</pre>
    * **Restricted View**:
      <pre>uaac member add opsman.restricted_view USERNAME</pre>

### <a id="write-saml"></a>Manage Roles with SAML Authentication

If you configured Ops Manager with SAML authentication, perform the steps in this section to assign non-admin user roles using UAAC.

1. Target your UAA server and log in as an admin: 
    <pre>
    uaac target https<span>:</span>//YOUR-OPSMAN-DOMAIN/uaa
    uaac token sso get
    </pre>

1. When prompted, enter **Client ID** and **Passcode**, leaving **Client secret** blank:
    <pre>
    Client ID: opsman
    Client secret:
    Passcode (from http<span>:</span>//YOUR-OPSMAN-DOMAIN/uaa/passcode): YOUR-UAA-PASSCODE
    </pre>

1. Run the following command:
    <pre>
    uaac group map SAML-GROUP --name 'OPSMAN-SCOPE' --origin 'external-saml-provider'
    </pre>
  Replace the placeholder text as follows:
  * `SAML-GROUP`: Replace with name of the SAML group the user belongs to.
  * `OPSMAN-SCOPE`: Replace with an Ops Manager UAA scope. Refer to the table in [Understand Roles in Ops Manager](#about) to determine which UAA scope to use.

1. Add new and existing users to the appropriate SAML groups in the SAML provider dashboard. Users must log out of both Ops Manager and the SAML provider for role changes to take effect.
