---
title: Configuring Cell Disk Cleanup
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This topic describes how to configure disk cleanup related to Docker image usage in 
Pivotal Cloud Foundry (PCF).

## <a href="prereq"></a> Prerequisite

Ensure that you have enabled Docker support in PCF with the
`cf enable-feature-flag diego_docker` command, as described in the [Using
Docker in Cloud Foundry](../adminguide/docker.html) topic.

## <a id='disk-cleanup'></a> Options for Disk Cleanup

PCF provides with three options for scheduling disk cleanup in the **Application Containers** 
configuration screen of Elastic Runtime. 

Under the **Docker Images Disk-Cleanup Scheduling on Cell VMs**, the following options
are listed:

* **Never clean up Cell disk-space**: In general, this option is **not recommended**.
  Choosing this option can result in Cells that run out of disk space.
* **Routinely clean up Cell disk-space**: Selecting this option forces a cleanup
  every time a container image layer stops being used.
* **Clean up disk-space once threshold is reached**: This option results in disk space
  cleanup being run only when the disk space threshold is reached or exceeded. See 
  <a href="choosing-a-threshold">Advanced: Choosing a Threshold"</a> for more 
  information.

## <a id='recommendations'></a> Recommendations

In most cases, Pivotal recommends selecting the second option: **Routinely clean up Cell
disk-space**. 

This option ensures that when a new stack becomes available on the Cell, 
the old stack gets dropped immediately from the cache. If your Elastic Runtime
deployment runs Docker-based applications as well, unused Docker image layers are also
cleaned up shortly after they stop being used.

The routine option, however, adds performance overhead from the frequent
deletion of images and layers. Additionally, when using Docker images, 
selecting this option can result in more cache hits because Docker image layers 
are quickly evicted from the cache, even if the image layers are only temporarily unused. 
The impact on the greater PCF installation's performance is usually insignificant.

In cases where operators want to optimize cache management and disk cleanup,
then Pivotal recommends selecting the third option (**Clean up disk-space once threshold is reached**). 
See <a href="choosing-a-threshold">Advanced: Choosing a Threshold</a> for instructions on how to 
configure the threshold.

## <a id='choosing-a-threshold'></a> Advanced: Choosing a Threshold

In order to choose a realistic value when configuring the disk space cleanup
threshold, you need to identify some of the most frequently used
Docker images in your PCF installation.

Docker images are usually created incrementally (in layers) starting from a
base image. In some cases, it may be easier to identify which base Docker images are
most frequently used.

Use the following steps to configure the disk space cleanup threshold:

1. Identify the most frequently used Docker images or base Docker images. For
   example, assume that the answer to this question for a particular deployment 
   is `openjdk:7`, `nginx:1.13` and `php:7-apache`.

1. Using the Docker CLI, measure the size of those images.
    <pre class="terminal">
    \# Pull identified images locally
    $> docker pull openjdk:7
    $> docker pull nginx:1.13
    $> docker pull php:7-apache

    \# Measure their sizes
    $> docker images
    REPOSITORY                   TAG                 IMAGE ID            CREATED             SIZE
    php                          7-apache            2720c02fc079        2 days ago          391 MB
    openjdk                      7                   f45207c01009        5 days ago          586 MB
    nginx                        1.13                3448f27c273f        5 days ago          109 MB
    ...
    </pre>

1. Calculate the threshold as the sum of the frequently used image sizes plus some extra breathing space. 
For example, to add extra space you might add in **>=20%** of the sum of the most frequently used image sizes. 
   Using the output above, the sample threshold calculation is **1303 MB**, or:

    ```
    391 MB + 586 MB + 109 MB = 1086 MB
    1086 MB * 1.2 = 1303 MB
    ```

1. To configure this threshold amount, navigate to the PCF Operations Manager **Installation Dashboard**.

1. Click the **Pivotal Elastic Runtime** tile, and navigate to the **Application Containers** tab.
    <%= image_tag("images/docker-registry-ert.png") %>

1. Under **Docker Images Disk-Cleanup Scheduling on Cell VMs**, select the
   **Clean up disk-space once threshold is reached** option. 

1. In the **Threshold of Disk-Used (MB)** field, enter the disk space threshold amount (in MB) that you calculated 
for your deployment as described in **Step 3** above. For example, as calculated in the previous example, 
the value is **1303**. The Cell must reach this threshold before initiating disk cleanup.

1. Click **Save**.

## <a id="next"></a> What to Do Next

If you are configuring Elastic Runtime for the first time, then return to your specific IaaS
configuration to continue the installation process.

If you are modifying an existing Elastic Runtime installation, return to the **PCF Ops
Manager Installation Dashboard** and click **Apply Changes**.
