---
title: Configuring Cell Disk Cleanup Scheduling
owner: Garden
---

<strong><%= modified_date %></strong>

This topic describes how to configure disk cleanup scheduling on Diego cells in Pivotal Cloud Foundry (PCF).

## <a id='what'></a> What is Disk Cleanup

PCF isolates application instances (AIs) from each other using containers that run inside Diego cells. 
Containers enforce a set of isolation layers including file system isolation.
A PCF container file system can either be a PCF stack or the result of pulling a Docker image.

For performance reasons, the cells cache the Docker image layers and the PCF stacks used by running AIs.
When PCF destroys an AI or reschedules an AI to a different cell, a chance exist that certain Docker image layers or an old PCF stack becomes unused.
If PCF does not clean these unused layers, the cell ephemeral disk will slowly fill.

Disk cleanup is the process of removing unused layers from the cell disk.
The disk cleanup process removes all unused Docker image layers and old PCF Stacks, regardless of their size or age.

To perform a detailed analysis of disk usage in your PAS deployment, see [Examining GrootFS Disk Usage](../adminguide/examining_grootfs_disk.html).

## <a id='options'></a> Options for Disk Cleanup

PCF provides the following options for scheduling the disk cleanup process on Diego cells: 

* **Never clean up the Cell Disk**: Pivotal does not recommend selecting this option for production environments.
* **Routinely clean up the Cell Disk**: This option makes the cell schedule a disk cleanup whenever a container is created. 
Running the disk cleanup process this frequently can result in a negative impact on the cell performance.
* **Clean up Disk space once usage fills disk**: This option makes the cell schedule the disk cleanup process only when disk usage 
encroaches on the space reserved for other jobs.

See the [Configure Disk Cleanup Scheduling](#applying-configuration) section of this topic to select one of these options.

### <a id='recommendations'></a> Recommendations

To select the best option for disk cleanup, you must consider the workload that the Diego cells run. 

For PCF installations that primarily run buildpack-based apps, 
Pivotal recommends selecting the **Routinely clean up Cell Disk space** option. 
The **Routinely clean up Cell Disk space** option ensures that when a new stack becomes available on a cell, 
the old stack is dropped immediately from the cache.

For PCF installations that primarily run Docker images, 
or both Docker images and buildpack-based apps, 
Pivotal recommends selecting the **Clean up Disk space once usage fills disk** option.

### <a id='choosing-a-reserve'></a> Calculating a Reserve

By default, the space reserved for other jobs is set to a reasonable value for the majority of PCF deployments. 
The reserve default value accounts for the most typical deployment case where the only other component that 
writes to <code>/var/vcap/data</code> is the Diego executor cache.

However, if you are deploying any BOSH add-ons that require space in the ephemeral disk,
you may need to increase the reserve.

For more information on disk usage and garbage collection in GrootFS, 
see [Understanding GrootFS Disk Usage](../concepts/grootfs-disk.html) 
and [Examining GrootFS Disk Usage](../adminguide/examining_grootfs_disk.html).

<p class="note warning"><strong>Warning:</strong> Setting the reserve to an excessive value can cause garbage collection to occur more frequently.
An increase in frequency can result in regular slowdowns in performance of apps on particular Diego Cells. 
Pivotal recommends leaving the default value for the reserve unless you are advised to modify it.
</p>

## <a id='applying-configuration'></a> Configure Disk Cleanup Scheduling

1. Navigate to the PCF Operations Manager **Installation Dashboard**.

1. Click the Pivotal Application Service (PAS) tile, and navigate to the **Application Containers** tab.
  <%= image_tag("images/docker-registry-ert.png") %>

1. Under **Docker Images Disk-Cleanup Scheduling on Cell VMs**, select an option.

1. If you select **Clean up Disk space once usage fills disk**, you can modify the **Reserved amount of Disk (MB)** field. 
Pivotal recommends that you leave the default value of <code>15360</code> MB, or 15GB, 
in **Reserved amount of Disk (MB)** unless you are instructed to change it.
For more information, see [Calculating a Reserve](#choosing-a-reserve).

1. Click **Save**.

### <a id="next"></a> Next Steps

If you are configuring PAS for the first time, return to your specific IaaS configuration to continue the installation process.

If you are modifying an existing PAS installation, return to the **PCF Ops Manager Installation Dashboard**, click **Review Pending Changes**, and click **Apply Changes**.
