---
title: Rotating PAS CredHub Encryption Keys
owner: 
---
<strong><%= modified_date %></strong>

This topic discusses how to rotate PAS CredHub encryption keys. Encryption keys are values that CredHub uses to obscure stored secrets. When an operator marks an additional key as primary, CredHub can rotate that additional key in as the encryption key. 

During this credential rotation process, the initial  encryption key is used to access the hidden value and then that value is stored again by the additional encryption key. 

<p class="note warning">
<strong>IMPORTANT: </strong>
If the operator removes an encryption key and clicks <b>Apply Changes</b> before the rotation has completed, the deployment enters a broken state. In this state, the operator no longer has access to data stored with the deleted key.  
</p>

1. Click the **Pivotal Application Service** tile in the **Ops Manager Installation Dashboard**.
1. Select the **CredHub** tab.
1. Click **Add** in the Encryption Keys section.
<%= image_tag("add-key.png") %>

1. Add the new encryption key.
1. Select the **Primary** check box.
1. Click **Save**.
1. Navigate to the **Ops Manager Installation Dashboard**.
1. Click **Apply Changes**.
1. Verify the CredHub logs to ensure that the rotation is complete.
	1. Click the **Pivotal Application Service** tile.
	1. Select the **Status** tab.
	1. Locate Index 0 within the **CredHub** job.
<%= image_tag("logs-list.png") %>

	1. Click correlating download icon within the **Logs** column.
	1. Select the **Logs** tab.
	1. Click the corresponding link to the retrieve the downloaded log file.
	1. Unzip the log file.
	1. Unzip the larger of the two nested directories.
	1. OpsMan generates a compressed file for each CredHub VM that exists on your deployment. Unzip each of these compressed files. 
	1. Open the `credhub` directory.
	1. Open the `credhub.log` file. If the PAS credential rotation has completed successfully, the CredHub log will contain the following text string, `Successfully rotated NUMBER-OF-CREDENTIALS items`.
1. Remove the old encryption key.
	1. Click the trashcan icon that corresponds to the old encryption key.
	1. Click **Save**.
	1. Navigate to the **Ops Manager Installation Dashboard**.
	1. Click **Apply Changes**.