---
title: Rotating Elastic Runtime MySQL Credentials
owner: MySQL
---

<strong><%= modified_date %></strong>

This topic describes how to rotate credentials for Elastic Runtime MySQL. If you are using internal databases in Elastic Runtime and the MySQL for Pivotal Cloud Foundry (MySQL for PCF) product tile, review the notes in this procedure in order to rotate credentials for both products.

##<a id='prereqs'></a>Prerequisites

To perform the steps below, you need to obtain the following:

1. Your root CA certificate. To retrieve the root CA certificate of your deployment and pipe it into a certificate file, run the following command:
<pre class="terminal">
$ curl "<span>https</span>://YOUR-OPSMAN-IP-ADDRESS/api/v0/security/root\_ca\_certificate" -X GET > YOUR-ROOT-CA.crt
</pre>

1. Your Elastic Runtime MySQL root password. To retrieve your Elastic Runtime MySQL root password, navigate to the Ops Manager **Installation Dashboard** and select <strong>MySQL > Credentials</strong>. Your Elastic Runtime MySQL root password is called `Mysql Admin Credentials`.

    <%= image_tag("ert-cred-rotation.png") %>

    <p class="note"><strong>Note</strong>: If you use MySQL for PCF&reg;, you also need your MySQL for PCF root password. To retrieve your MySQL for PCF root password, navigate to the Ops Manager <strong>Installation Dashboard</strong> and select <strong>MySQL for Pivotal Cloud Foundry</strong> > <strong>Credentials</strong>. Your MySQL for PCF root password is called <code>Mysql Admin Password.</code></p>


##<a id="rotate"></a>Rotate Your MySQL Credentials

1. Use `curl` to make a request to the Ops Manager API and pipe the response into <code>installation\_settings\_current.json</code>. For the <code>OPSMAN\_USERNAME</code> and <code>OPSMAN\_PASSWORD</code>, use the credentials you used above to log into the Ops Manager [**Installation Dashboard**](#prereqs).
<pre class="terminal">
$ curl -sku OPSMAN\_LOGIN:OPSMAN\_PASSWORD <span>https</span>://YOUR-OPSMAN-FQDN/api/installation\_settings > installation\_settings\_current.json
</pre>

1. Check to see that the Elastic Runtime MySQL [root password](#prereqs) is in the current installation settings file:
  <pre class="terminal">
  $ grep -c YOUR-ERT-MYSQL-ROOT-PASSWORD installation\_settings\_current.json
  </pre>
  
    <p class="note"><strong>Note</strong>: If you use MySQL for PCF, you should also run the following command: <code>$ grep -c YOUR-MYSQL-FOR-PCF-ROOT-PASSWORD installation_settings_current.json</code></p>

1. Remove the root password from the installation settings file.
  <pre class="terminal">
  $ sed -e's/"value":{"identity":"root","password":"[^"]*"},\\("identifier":"mysql\_admin\\)/\1/g' installation\_settings\_current.json > installation\_settings\_updated.json
  </pre>

1. Validate that the root password has been removed from the `installation_settings_updated.json` file.
  <pre class="terminal">
  $ grep -c YOUR-ERT-MYSQL-ROOT-PASSWORD installation\_settings\_updated.json
  0
  </pre>

    <p class="note"><strong>Note</strong>: If you use MySQL for PCF, you should also run the following command: <code>$ grep -c YOUR-MYSQL-FOR-PCF-ROOT-PASSWORD installation_settings_updated.json</code></p>

1. Upload the updated installation settings. For the <code>OPSMAN\_USERNAME</code> and <code>OPSMAN\_PASSWORD</code>, use the credentials you used above to log into the Ops Manager [**Installation Dashboard**](#prereqs).
   <pre class="terminal">
  $ curl -sk -u OPSMAN\_USERNAME:OPSMAN\_PASSWORD -X POST "<span>https:</span>//YOUR-OPSMAN-FQDN/api/installation\_settings" -F 'installation[file]=@installation\_settings\_updated.json'
  {}
  </pre>

1. Navigate to the Ops Manager **Installation Dashboard** and click **Apply Changes**.

1. Once the installation has completed, validate that the Elastic Runtime MySQL password has been changed, using the new password in <strong>Elastic Runtime > Credentials</strong>. Use the IP address for the **MySQL Proxy**, located in the **Status** tab.
   <pre class="terminal">
  $ mysql -uroot -p -h 10.85.21.98
  Enter password:
  Welcome to the MariaDB monitor.  Commands end with ; or \g.
  </pre>

    <p class="note"><strong>Note</strong>: If you use MySQL for PCF, you must also validate that the MySQL for PCF root password has been changed. Retrieve the new password from <strong>MySQL</strong> > <strong>Credentials</strong>. Use the IP address for the MySQL Proxy located in the <strong>Status</strong> tab.</p>