---
title: Diego Beta
---

This topic describes how to install Diego and .Net beta releases.

<p class='note'><strong>Note</strong>: This is an beta release. It is intended for demonstration purposes for customers. There are no guarantees on being able to upgrade to subsequent General Availability releases. Pivotal does not recommend running Diego beta in production.</p>

<%= image_tag("./diego-beta/image1.jpg") %>

## <a id='overview'></a>Overview ##

You can use the **Diego for PCF** beta tile to deploy Diego alongside your **Pivotal Elastic Runtime** tile. This allows you to test the new Diego functionality with your installation. This includes support for .Net and Docker.

Application developers can choose to deploy their application either to the existing Elastic Runtime or to Diego beta.

## <a id='prerequisites'></a>Requirements ##

<table border='1' class='nice'>
	<tr>
		<th>
			Component
		</th>
		<th>
			Version
		</th>
		<th>
			Notes
		</th>
	</tr>
	<tr>
		<td>
			Ops Manager
		</td>
		<td>
			&ge; 1.4.2
		</td>
		<td>
			Ops Manager must be running on Amazon Web Services (AWS) or vSphere.
		</td>
	</tr>
	<tr>
		<td>
			Elastic Runtime
		</td>
		<td>
			1.5.0.alpha.735.6255c2d
		</td>
		<td>
			Contains <a href='https://github.com/cloudfoundry/cf-release/releases/tag/v207'>CF Release 207</a>
		</td>
	</tr>
	<tr>
		<td>
			Diego for PCF
		</td>
		<td>
			0.1.0.alpha.50.2ba66c
		</td>
		<td>
			Contains <a href='https://github.com/cloudfoundry-incubator/diego-release/commit/bbdd0d01a2bafb2f7772a0f088262858bccd4620'>Release 0.1099.0</a>
		</td>
	</tr>
	<tr>
		<td>
			<a href='https://github.com/cloudfoundry-incubator/diego-cli-plugin'>Diego CLI plugin</a>
		</td>
		<td>
		</td>
		<td>
			Needed to push applications or Docker images to Diego instead of the existing DEAs.
		</td>
	</tr>
</table>

You can download these components from [PivNet](https://network.pivotal.io/products/) by selecting **Diego for PCF (Beta)**.

You must be a member of one of the following groups to access the service:

  * Pivotal Field Engineering
  * Pivotal internal early access
  * Diego Beta

Contact [support](https://support.pivotal.io) if you need access to one of these groups.

## <a id='installation'></a>Installation ##

### <a id='docker-support'></a>Step 1: Enable Docker Support ###

1. From your PCF Ops Manager Installation Dashboard, click the **Pivotal Elastic Runtime** tile.

1. Select the **Cloud Controller** tab.

1. Check the **Enable Diego Docker support** box.

1. Click **Save**.

<%= image_tag("./diego-beta/enable-diego-docker.png") %>

### <a id='docker-support'></a>Step 2: Install Diego for PCF ###

1. Download the tile from [PivNet](https://network.pivotal.io/).

1. From the PCF Ops Manager Installation Dashboard, click **Import a Product** to upload the Diego beta tile.

1. Click **Apply Changes**.

<p class='note'><strong>Note</strong>: The default configurations are sufficient for trying out Diego beta, but you can change them as needed.
</p>

Depending on your IaaS, refer to one of the following topics to complete deploying Diego Beta:

  * [Deploying Diego Beta on vSphere](vsphere-diego-beta.html)
  * [Deploying Diego Beta on AWS](aws-diego-beta.html)
