---
title: Diego Beta
---

This topic describes how to install Diego and .Net beta releases.

<p class='note'><strong>Note</strong>: This is a beta release. It is intended for demonstration purposes for customers. There are no guarantees on being able to upgrade to subsequent General Availability releases. Pivotal does not recommend running Diego beta in production.</p>

<%= image_tag("./diego-beta/install-dashboard.png") %>

## <a id='overview'></a>Overview ##

You can use the **Diego for PCF** beta tile to deploy Diego alongside your **Pivotal Elastic Runtime** tile. This allows you to test the new Diego functionality with your installation. This includes support for .Net and Docker.

Application developers can choose to deploy their application either to the existing Elastic Runtime or to Diego beta.

## <a id='prerequisites'></a>Requirements ##

<table border='1' class='nice'>
	<tr>
		<th>
			Component
		</th>
		<th>
			Version
		</th>
		<th>
			Notes
		</th>
	</tr>
	<tr>
		<td>
			Ops Manager
		</td>
		<td>
			1.5.x.y
		</td>
		<td>
			Ops Manager must be running on Amazon Web Services (AWS) or vSphere.
		</td>
	</tr>
	<tr>
		<td>
			Elastic Runtime
		</td>
		<td>
			1.5.x.y
		<td>
			Contains <a href='https://github.com/cloudfoundry/cf-release/releases/tag/v207'>CF Release 207</a>
		</td>
	</tr>
	<tr>
		<td>
			Diego for PCF
		</td>
		<td>
			0.2.0
		</td>
		<td>
			Contains <a href='https://github.com/cloudfoundry-incubator/diego-release/commit/f7b15f8da536eee7be696896890943dbc6202242'>Release 0.1198.0</a>
		</td>
	</tr>
	<tr>
		<td>
			<a href='https://github.com/cloudfoundry-incubator/diego-cli-plugin'>Diego CLI plugin</a>
		</td>
		<td>
		</td>
		<td>
			Needed to push applications or Docker images to Diego instead of the existing DEAs.
		</td>
	</tr>
	<tr>
		<td>
			SSH Key
		</td>
		<td>
		</td>
		<td>
			Refer to the <a href='#ssh-key'>Provide an SSH Key</a> section for instructions.
		</td>
	</tr>
</table>

<p class='note'><strong>Note</strong>: You must use this exact combination of versions. These versions have been tested together and are correctly working as of 7 July 2015.</p>

You can download these components from [PivNet](https://network.pivotal.io/products/) by selecting **Diego for PCF (Beta)**.

## <a id='installation'></a>Installation ##

### <a id='docker-support'></a>Step 1: Enable Docker Support ###

1. From your PCF Ops Manager Installation Dashboard, click the **Pivotal Elastic Runtime** tile.

1. Select the **Cloud Controller** tab.

1. Check the **Enable Diego Docker support** box.

1. Click **Save**.

<%= image_tag("./diego-beta/enable-diego-docker.png") %>

### <a id='docker-support'></a>Step 2: Install Diego for PCF ###

1. Download the tile from [PivNet](https://network.pivotal.io/).

1. From the PCF Ops Manager Installation Dashboard, click **Import a Product** to upload the Diego beta tile.

1. Click **Apply Changes**.

<p class='note'><strong>Note</strong>: The default configurations are sufficient for trying out Diego beta, but you can change them as needed.
</p>

### <a id='ssh-key'></a>Step 3: Provide an SSH Key ###

You must generate and provide an SSH key for host verification in order for a successful deployment.

1. Generate an SSH key by running the following command:

    <pre class='terminal'>
    $ ssh-keygen
    </pre>

1. From the PCF Ops Manager Installation Dashboard, click **Diego for PCF**.

1. Select the **Diego** tab and copy the contents of the generated file into the **SSH Proxy Private Key** box, as the image below shows.

<%= image_tag("./diego-beta/ssh-key.png") %>

## <a id='known-issues'></a>Important Caveats and Known Issues ##

* No upgrades are supported between versions of the Diego tile.
* Diego SSH support has not been tested or verified on this release.
* If your environment does not have internet access, you must disable the Diego Acceptance Test errand before deployment.

## <a id='complete-installation'></a>Complete Deploying Diego Beta ##

Depending on your IaaS, refer to one of the following topics to complete deploying Diego Beta:

  * [Deploying Diego Beta on vSphere](vsphere-diego-beta.html)
  * [Deploying Diego Beta on AWS](aws-diego-beta.html)
