---
title: Diego Beta Overview
---

_This is a beta release intended for demonstration purposes for customers. Pivotal does not recommend running Diego beta in production. There are no guarantees that you can upgrade to subsequent General Availability releases._

This topic describes how to install Diego and .NET beta releases. Diego is the next-generation container scheduler for Cloud Foundry Elastic Runtime.

<p class='note'><strong>Note</strong>: You must delete the <a href="https://network.pivotal.io/products/pivotal-diego-pcf">Diego for PCF (Beta)</a> tile from your Ops Manager Installation dashboard before upgrading between versions of Elastic Runtime.</p>

## <a id='overview'></a>Overview ##

You can use the Diego for PCF tile to deploy Diego alongside your <a href="https://network.pivotal.io/products/elastic-runtime">Elastic Runtime</a> tile. This tile allows you to test the new Diego functionality with your installation and includes support for both .NET and Docker.

Application developers can choose to deploy their application either to the existing Elastic Runtime or to Diego Beta.

<%= image_tag("./diego/install-dashboard.png") %>

## <a id='prerequisites'></a>Requirements ##

<table border='1' class='nice'>
	<tr>
		<th>
			Component
		</th>
		<th>
			Version
		</th>
		<th>
			Notes
		</th>
	</tr>
	<tr>
		<td>
			Ops Manager
		</td>
		<td>
			1.5.x.y
		</td>
		<td>
			Ops Manager must be running on Amazon Web Services (AWS), vSphere, vCloud, or OpenStack.
		</td>
	</tr>
	<tr>
		<td>
			Elastic Runtime
		</td>
		<td>
			1.5.x.y
		<td>
			Contains <a href='https://github.com/cloudfoundry/cf-release/releases/tag/v207'>CF Release 208</a>
		</td>
	</tr>
	<tr>
		<td>
			Diego for PCF
		</td>
		<td>
			0.2.0
		</td>
		<td>
			Contains <a href='https://github.com/cloudfoundry-incubator/diego-release/commit/f7b15f8da536eee7be696896890943dbc6202242'>Release 0.1198.0</a>
		</td>
	</tr>
	<tr>
		<td>
			<a href='https://github.com/cloudfoundry-incubator/diego-cli-plugin'>Diego CLI plugin</a>
		</td>
		<td>
		</td>
		<td>
			Needed to push applications or Docker images to Diego instead of the existing DEAs.
		</td>
	</tr>
	<tr>
		<td>
			Diego Windows MSI
		</td>
		<td>
			0.148
		</td>
		<td>
			Find the MSI on the <a href="https://network.pivotal.io/products/pivotal-diego-pcf">Diego for PCF (Beta)</a> PivNet page.
		</td>
	</tr>
	<tr>
		<td>
			SSH Key
		</td>
		<td>
		</td>
		<td>
			Refer to the <a href='#ssh-key'>Provide an SSH Key</a> section for instructions.
		</td>
	</tr>
</table>

<p class='note'><strong>Note</strong>: You must use this exact combination of versions. These versions have been tested together and are correctly working as of 7 July 2015.</p>

You can download these components from [PivNet](https://network.pivotal.io/products/):

  * [Diego for PCF (Beta)](https://network.pivotal.io/products/pivotal-diego-pcf)
  * [Elastic Runtime](https://network.pivotal.io/products/elastic-runtime)
  * [Ops Manager](https://network.pivotal.io/products/ops-manager)

## <a id='installation'></a>Installation ##

### <a id='docker-support'></a>Step 1: Enable Docker Support ###

1. From your PCF Ops Manager Installation Dashboard, click the Elastic Runtime tile.

1. Select the **Cloud Controller** tab.

1. Check the **Enable Diego Docker support** box.

1. Click **Save**.

<%= image_tag("./diego/enable-diego-docker.png") %>

### <a id='docker-support'></a>Step 2: Install Diego for PCF ###

1. Download the tile from [PivNet](https://network.pivotal.io/pivotal-diego-pcf).

1. From the PCF Ops Manager Installation Dashboard, click **Import a Product** to upload the downloaded `.pivotal` file.

1. Click **Apply Changes**.

<p class='note'><strong>Note</strong>: The default configurations are sufficient for trying out Diego beta, but you can change them as needed.
</p>

### <a id='ssh-key'></a>Step 3: Provide an SSH Key ###

You must generate and provide an SSH key for host verification.

1. Generate an SSH key by running the following command:

    <pre class='terminal'>
    $ ssh-keygen
    </pre>

    This generates two files. Copy the private key file, which does not have the `.pub` extension.

1. From the Ops Manager Installation Dashboard, click **Diego for PCF**.

1. Select the **Diego** tab and copy the contents of the generated private key file into the **SSH Proxy Private Key** box, as the image below shows:

    <%= image_tag("./diego/ssh-key.png") %>

## <a id='known-issues'></a>Important Caveats and Known Issues ##

* No upgrades are supported between versions of the Diego for PCF tile.
* Diego SSH support has not been tested or verified on this release.
* If your environment does not have internet access, you must disable the **Acceptance Tests** errand checkbox in the **Errands** tab of the Diego for PCF tile before deployment, as the image below shows:

    <%= image_tag("./diego/disable-acceptance-tests.png") %>

## <a id='complete-installation'></a>Finish Deploying Diego Beta for Windows ##

Refer the [Deploying Diego Beta](./deploying-diego.html) topic to complete deploying Diego Beta for Windows.
