---
title: Using Diego in Pivotal Cloud Foundry
---

This topic describes using Diego in the Pivotal Cloud Foundry (PCF) 1.6 release.
Diego is the next-generation container scheduler for [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) Elastic Runtime.

In the Pivotal Cloud Foundry (PCF) 1.6 release, Diego replaces the [DEAs](concepts/architecture/execution-agent.html) and the [Health Manager](concepts/architecture/#hm9k). Diego is installed and enabled in PCF 1.6 by default. 

<p class="note"><strong>Note</strong>: Before you install PCF 1.6, you must uninstall any Diego Beta installations. For more information on upgrading to PCF 1.6, see <a href="../customizing/upgrading-pcf.html">Upgrading Operations Manager</a>.</p>

## Configure Diego in PCF

1. Log in to Pivotal Ops Manager.

1. Click the **Ops Manager Director** tile.

1. Select **Diego**.
<%= image_tag("images/diego/diego-config.png") %>

2. Select the **Use Diego by default instead of DEAs** checkbox to ensure that all applications pushed to your PCF deployment use the Diego container management system. For new installations, this option is selected by default. If you are upgrading to PCF 1.6, you must select this option to automatically enable Diego for newly pushed applications. 

    <p class='note'><strong>Note</strong>: If you do not select this option,  application developers must explicitly target Diego when pushing their applications.</p>

3. (Optional) Select the **Allow SSH access to apps** checkbox to allow application developers to `ssh` directly into their application instances on Diego. See the [Diego-SSH Overview](../customizing/diego-ssh/) topic for more details.

