---
title: Enabling NFS Volume Services
owner: Diego Persistence
---

This topic describes how Pivotal Cloud Foundry (PCF) operators can deploy NFS volume services. 

## <a id='overview'></a>Overview

A volume service gives apps access to a persistent filesystem, such as NFS. By performing the procedures in this topic, operators can add a volume service to the [Marketplace](../devguide/services/index.html) that provides an NFSv3 filesystem. 

Developers can then use the [Cloud Foundry Command Line Interface](../cf-cli/index.html) (cf CLI) to create service instances of the volume service and bind them to their apps. For more information, see the [Using an External File System (Volume Services)](../devguide/services/using-vol-services.html) topic.

<p class="note"><strong>Note</strong>: You must have an NFS server running to enable NFS volume services. If you want to use NFS and do not currently have a server available, you can <a href="https://github.com/cloudfoundry-incubator/nfs-volume-release#deploying-the-test-nfs-server-optional">deploy the test NFS server</a> bundled with the NFS Volume release or enable NFS volume services with the NFS Broker Errand for Pivotal Application Service. You can enable this errand during PAS configuration.</p>

### <a id='security'></a>Security

When it comes to securing your NFS server against traffic apps running on PCF, you can use ASGs and LDAP:

* **Application Security Groups (ASGs)** <br/>
  Use Application Security Groups (ASGs) to prevent apps from sending traffic directly to your NFS ports. Apps should never need to use NFS ports directly. Pivotal recommends defining an ASG that blocks direct access to your NFS server IP, especially ports 111 and 2049. For more information on setting up ASGs, see 
  [Understanding Application Security Groups](../concepts/asg.html).
* **LDAP**  <br/>
  In addition to ASGs, LDAP secures the NFS volume service so that app developers cannot bind to the service using an arbitrary UID and gain access to sensitive data. With LDAP support enabled, app developers must provide credentials for any user they wish to bind as.

The Diego cells running on PCF must be able to reach your LDAP server on the port you use for connections, which are typically `389` or `636`. You cannot limit which Diego cells have access to your NFS or LDAP servers.   

## <a id='enable'></a>Enable Volume Services

To enable NFS volume services in PCF, perform the following steps:

1. Navigate to the Ops Manager Installation Dashboard.
1. Click the **Pivotal Application Service** tile.
1. Click **Application Containers**.
1. Under **Enabling NFSv3 volume services**, select **Enable**.
  <p class="note"><strong>Note</strong>: In a clean install, NFSv3 volume services are enabled by default. In an upgrade, NFSv3 volume services match the setting of the previous deployment.</p>
    <%= image_tag('er-config-app-vol-svc.png') %>
1. (Optional) To configure LDAP for NFSv3 volume services, perform the following steps:
  <p class="note"><strong>Note</strong>: If you already use an LDAP server with your network-attached storage (NAS) file server, enter its information below. This ensures that the indentities known to the file server match those checked by the PCF NFS driver.</p>
  * For **LDAP Service Account User**, enter either the full domain name (DN) for the service account or the username of the service account that manages volume services, depending on how your LDAP server is configured. This value needs to be exactly what you would enter when binding the account to your LDAP server.
  * For **LDAP Service Account Password**, enter the password for the service account.
  * For **LDAP Server Host**, enter the hostname or IP address of the LDAP server.
  * For **LDAP Server Port**, enter the LDAP server port number. If you do not specify a port number, Ops Manager uses 389.
  * For **LDAP Server Protocol**, enter the server protocol. If you do not specify a protocol, Ops Manager uses TCP.
  * For **LDAP User Fully-Qualified Domain Name**, enter the full DN to the base organizational unit (OU) where your users exist in the LDAP tree. The NFS driver searches for users in this OU and the subtree beneath it using the search filter `(&(objectClass=User)(cn=USERNAME))`. This filter is not configurable.  
  For example, if your users belong to an OU `users` and your domain is `example.com`, the full DN to enter would be: `OU=users,DC=example,DC=com`.
1. Click **Save**.
1. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to redeploy.
1. Using the cf CLI, enable access to the service:
	<pre class="terminal">$ cf enable-service-access nfs</pre>
	To limit access to a specific org, use the `-o` flag, followed by the name of the org where you want to enable access. For more information, see the [Access Control](../services/access-control.html) topic.

After completing these steps, developers can use the cf CLI to create service instances of the `nfs` service and bind them to their apps.
