---
title: Adding Existing SAML or LDAP Users to a Pivotal Cloud Foundry Deployment
owner: Identity
---

<strong><%= modified_date %></strong>

This topic describes the procedure for adding existing SAML or LDAP users to a [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) deployment enabled with SAML or LDAP.

There are two ways exist to add existing SAML or LDAP users to your PCF deployment:

* [Option 1: Import Users in Bulk](#bulk-import)
* [Option 2: Add Users Manually](#manual)

## <a id='prereqs'></a>Prerequisites

You must have the following in order to perform the procedures in this topic:

* Admin access to the Ops Manager Installation Dashboard for your PCF deployment
* The [Cloud Foundry Command Line Interface](../cf-cli/install-go-cli.html) (cf CLI) v6.23.0 or later

## <a id='bulk-import'></a>Option 1: Import Users in Bulk ##

You can import SAML or LDAP users in bulk by using the UAA Bulk Import Tool. See [the UAA Users Import README](https://github.com/pivotalservices/uaausersimport/blob/master/README.md) for instructions on installing and using the tool.

## <a id='manual'></a>Option 2: Add Users Manually ##

Perform the procedures below to add existing SAML or LDAP users to your PCF deployment manually.

### <a id='step-id'></a>Step 1: Create User ##

Perform the following steps to add a SAML or LDAP user:

1. Target the API endpoint for your PCF deployment:
    <pre class="terminal">$ cf target http<span>s</span>://api.YOUR-SYSTEM-DOMAIN</pre>
1. Log in with the [Admin user role](../concepts/roles.html#roles): 
    <pre class="terminal">$ cf login</pre>
1. Run the command below to create the user in UAA. Replace `EXAMPLE-USERNAME` with the username of the SAML or LDAP user you wish to add.
    - For LDAP, run the following command:
    <pre class='terminal'>
    $ cf create-user j.smith<span>@</span>example.com --origin ldap
    </pre>
    - For SAML, run the following command, replacing `YOUR-PROVIDER-NAME` with the name of the SAML provider you provided when configuring Ops Manager:
    <pre class='terminal'>
    $ cf create-user j.smith<span>@</span>example.com --origin YOUR-PROVIDER-NAME
    </pre>

### <a id='user-role'></a>Step 2: Associate User with Org or Space Role ##

After creating the SAML or LDAP user, you must associate the user with either an Org or Space role.

For more information about roles, see the [Roles and Permissions](../concepts/roles.html#roles) section of the <em>Orgs, Spaces, Roles, and Permissions</em> topic.

#### <a id='org-role'></a>Associate User with Org Role

Associate the SAML or LDAP user with an Org or a Space role with the following commands:

<pre class="terminal">
$ cf set-org-role USERNAME YOUR-ORG ROLE
</pre> 
For `ROLE`, enter one of the following:

* `OrgManager`: Org Managers can invite and manage users, select and change plans, and set spending limits.
* `BillingManager`: Billing Managers can create and manage the billing account and payment information.
* `OrgAuditor`: Org Auditors have read-only access to Org information and reports.

#### <a id='space-role'></a>Associate User with Space Role

<pre class="terminal">
$ cf set-space-role USERNAME YOUR-ORG YOUR-SPACE ROLE
</pre> 
For `ROLE`, enter one of the following:

* `SpaceManager`: Space Managers can invite and manage users, and enable features for a given Space.
* `SpaceDeveloper`: Space Developers can create and manage apps and services, and see logs and reports.
* `SpaceAuditor`: Space Auditors can view logs, reports, and settings on this Space.

