---
breadcrumb: Pivotal Cloud Foundry Documentation
title: PCF Operator Guide
owner: PCF Documentation
---

##<a id='who'></a>For PCF Operators

This guide shows you how to run a PCF platform. This ongoing responsibility may include but is not limited to:

* Configuring PCF capabilities
* Integrating PCF with external systems
* Updating PCF and installed products
* Monitoring PCF health and performance
* Adjusting PCF resources and options to fix health or performance issues
* Diagnosing and troubleshooting PCF problems
* Managing Pivotal Application Service (PAS) users, resources, and infrastructure
* Installing software services and otherwise enabling PCF developers
* Maintaining PCF
* Keeping PCF secure

If you do these things, you are a PCF **operator**, and the contents of this guide are for you.

##<a id='contents'></a>Guide Contents

* <a href="/pivotalcf/2-2/customizing/day2.html">Day 2 Configurations</a> - Setting up internal operations and external integrations for PCF.

* <a href="/pivotalcf/2-2/opsguide/ongoing.html">Ongoing Operations</a> - Routine procedures for running and growing the platform, including:

  - PCF Upgrades
  - IaaS Changes
  - Monitoring, Logging, and Reporting
  - Platform Tuning
  - Enabling Developers
  - Backing Up
  - Security

* <a href="/pivotalcf/2-2/adminguide/index.html">Managing PAS Runtimes</a> - Procedures performed by people with administrator or manager roles in Pivotal Application Service (PAS), such as managing users, orgs, spaces, and service instances. Operators can perform these actions by [logging in with Admin credentials](../customizing/console-login.html), which grants them the role of Org Manager across all PAS orgs.

* <a href="/pivotalcf/2-2/customizing/ops-man.html">Using Ops Manager</a> -  Ops Manager's dashboard interface streamlines the installation, configuration, and upgrading of PCF platform services and add-ons.

* <a href="/pivotalcf/2-2/cf-cli/index.html">Using the Cloud Foundry Command Line Interface (cf CLI)</a> - Using the cf CLI to send commands to the Cloud Controller, the executive component of PAS.

* <a href="/pivotalcf/2-2/customizing/troubleshooting-diagnostics.html">Troubleshooting and Diagnostics</a> - Tools and procedures for troubleshooting PCF.
