---
title: Importing and Managing Stemcells
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This topic explains how to import and stage stemcells to products by using the stemcell management page introduced in Ops Manager v2.1.

For more conceptual information about floating stemcells and stemcell upgrades, see [Understanding Floating Stemcells](../customizing/understanding-stemcells.html).

![The Stemcell manager dashboard shows a table with columns headed "Product", "Required", "Deployed, and "Staged"](images/manage-stemcells.png)

## <a id="navigate"></a> Navigate to the Stemcell Management Page

![The Manage Stemcells link is floated to the right of the Installation Dashboard header](images/installation-dashboard-manage-stemcells.png)

To navigate to the stemcell management page, click **Manage Stemcells** from the Ops Manager **Installation Dashboard**. For more information on navigating the **Installation Dashboard**, see [Understanding the Ops Manager Interface](../customizing/pcf-interface.html).

