---
title: PAS MySQL Scaling Examples
owner: MySQL
---

This topic describes two scaling examples for MySQL Galera in Pivotal App Service (PAS). 

Use this data as guidance to ensure your MySQL Clusters are scaled to handle the number of app instances running on your deployment. 

## <a id="pws"></a> Example 1: Pivotal Web Services Production Environment

The data in this section comes from the Pivotal-managed Cloud Foundry deployment, Pivotal Web Services (PWS). 

<p class="note"><strong>Note</strong>: This deployment differs from most PCF deployments in that the MySQL database is used for Diego, but not the Cloud Controller. This  means that while there are a large number of queries per second, most of them are reading data, and the number of writes is not realistically reflected.</p>

* **IAAS**: AWS
* **App Instances**: ~23,000
* **Average SQL Queries Per Minute**: ~308,000
* **Average IOPS**: 220
* **Storage Volume Usage**: 80%

### <a id="pws-sizing"></a> VM Sizing

<table>
	<tr>
		<th>Setting</th>
		<th>Value</th>
	</tr>
	<tr>
		<td>VM  Type</td>
		<td>c4.2xlarge</td>
	</tr>
	<tr>
		<td>Storage Volume Type</td>
		<td>io1</td>
	</tr>	
	<tr>
		<td>Storage Volume Size</td>
		<td>98GB</td>
	</tr>
	<tr>
		<td>Storage Volume IOPS</td>
		<td>2000</td>
	</tr>	
</table>

The resulting load on the instance is average IOPS of 220 and 80% of the storage volume usage.

## <a id="diego"></a> Example 2: Cloud Foundry Diego Test Environment

The data in this section comes from an environment used by the Cloud Foundry Diego team to test the MySQL cluster with a high load similar to one generated large deployment. 

* **IAAS**: GCP
* **App Instances**: 250,000
* **Average SQL Queries Per Minute**: ~5,081,900
* **Average IOPS**: 
	* **Reads**: 3.63
	* **Writes**: 363.98

### <a id="diego-sizing"></a> VM Sizing

<table>
	<tr>
		<th>Setting</th>
		<th>Value</th>
	</tr>
	<tr>
		<td>VM  Type</td>
		<td>n1-standard-16</td>
	</tr>	
	<tr>
		<td>Storage Volume Type</td>
		<td>pd-ssd</td>
	</tr>	
	<tr>
		<td>Storage Volume Size</td>
		<td>1TB</td>
	</tr>
</table>


