---
breadcrumb: Pivotal Cloud Foundry&reg; Documentation
title: Configuring Pivotal Account
owner: Identity
---

<strong><%= modified_date %></strong>

Pivotal Account is a user management tool that allows users to create and manage their accounts. On the Pivotal Account dashboard, a user can launch applications, manage their user profile, manage their account security and manage their notifications.

<p class='note'><strong>Note</strong>: You must also install <a href="../console/index.html">the Apps Manager</a> and <a href="/adminguide/notifications.html">Notifications to use Pivotal Account.</a></p>.

##<a id="launch-app"></a>Launch Applications

Once users log in, they can launch applications that are assigned to them from the Apps tab of the Pivotal Account dashboard.

##<a id="manage-profile"></a>Manage Profile

The Profile tab allows users to update their email address and name information.

##<a id="manage-security"></a>Manage Security

The Security tab allows users to update their password.

##<a id="manage-app"></a>Manage Application Approvals

The Approvals tab shows the permissions that each application can do on behalf of the user. The user can allow and revoke permissions for each application on this tab.

##<a id="manage-notifications"></a>Manage Notifications

Users can navigate to the Notifications tab to manage their Pivotal Cloud Foundry notifications.
Installation
Pivotal Account is installed as an errand on Elastic Runtime. To enable Pivotal Account, follow the steps below.

1. Navigate to Ops Manager. 
1. Click on the Pivotal Elastic Runtime tile.
1. Under the Settings tab, click Errands.
1. Select Pivotal Account.


