---
title: Isolating a Pivotal CF Deployment in a Private Network Using a CentOS NAT Box
---

During setup, you may want to place your router or a load balancer on a public network, then route requests to the Pivotal CF deployment on a private network. Isolating your Pivotal CF deployment provides extra security and makes it possible for you to use as many IP addresses as you need via a subnet for the private network.

Complete the following steps to set up a CentOS NAT box to isolate a Pivotal CF deployment:

## <a id='deploy_centos'></a>Step 1: Deploy a CentOS image to vSphere ##

Connect to vCenter using the vSphere client.

1. Download the latest CentOS image from [http://wiki.centos.org/Download](http://wiki.centos.org/Download).

1. Deploy the image to vSphere:

 Assign two network adapters to the VM. This results in the VM having two IP addresses:
	- A public-facing IP address: This IP address connects to the public network VLAN (WAN) through `<GATEWAY_EXTERNAL_IP>`.
	- An internal VLAN IP address to communicate with other BOSH/Cloud Foundry components: This IP address connects to the private network (LAN) we will use for the Pivotal CF deployment using `<GATEWAY_INTERNAL_IP>`.

## <a id='iptables'></a>Step 2: Set up iptables ##

1. Log in to the CentOS VM as root.

1. Run the following script to set up iptables:

<pre>
	# reset
	iptables --flush
	service iptables save

	# iptables forwarding rules including loopback
	iptables -A FORWARD -i eth1 -j ACCEPT
	iptables -A FORWARD -o eth1 -j ACCEPT
	iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
	iptables -t nat -A POSTROUTING -d <ROUTER_IP> -s <INTERNAL_NETWORK_RANGE> \
		-p tcp --dport 80 -j SNAT --to <GATEWAY_INTERNAL_IP>

		iptables -t nat -A POSTROUTING -d <ROUTER_IP> -s <INTERNAL_NETWORK_RANGE> \
		        -p tcp --dport 443 -j SNAT --to <GATEWAY_INTERNAL_IP>

		iptables -t nat -A PREROUTING -d <GATEWAY_EXTERNAL_IP> -p tcp --dport 443 -j DNAT \
		         --to <ROUTER_IP>
		iptables -t nat -A PREROUTING -d <GATEWAY_EXTERNAL_IP> -p tcp --dport 80 -j DNAT \
		         --to <ROUTER_IP>

		iptables -t nat -A PREROUTING -i eth0 -p tcp --dport 8443 -j DNAT \
		      --to <DEPLOYER_IP>:443
		iptables -t nat -A PREROUTING -i eth0 -p tcp --dport 80 -j DNAT \
		      --to <ROUTER_IP>:80
		iptables -t nat -A PREROUTING -i eth0 -p tcp --dport 22 -j DNAT \
		      --to <DEPLOYER_IP>:22
		iptables -t nat -A PREROUTING -i eth0 -p tcp --dport 8080 -j DNAT \
		      --to <DEPLOYER_IP>:80

		# DNS iptables rules
		iptables -A INPUT -p udp --sport 53 -j ACCEPT
		iptables -A INPUT -p udp --dport 53 -j ACCEPT
		iptables -A OUTPUT -p udp --sport 53 -j ACCEPT
		iptables -A OUTPUT -p udp --dport 53 -j ACCEPT
		iptables -A INPUT -p udp -j DROP
		iptables -A OUTPUT -p udp -j DROP

</pre>
## <a id='deploy_cf'></a> Step 3: Deploy the Pivotal CF Installation VM in the private network using the internal IP address ##

1. Access the deployer VM at port 8443 using `https://<GATEWAY_EXTERNAL_IP>:8443`.

	The CF deployment will use `<GATEWAY_INTERNAL_IP>` as the gateway.

	`<ROUTER_IP>` will be `<HA_PROXY_IP>` in the latest build.
