---
title: Understanding PAS Upgrades
owner: Release Engineering
---

<strong><%= modified_date %></strong>

This topic describes the order in which Ops Manager upgrades components and runs tasks during a full platform upgrade. It also explains how the scale of different Pivotal Application Service (PAS) components affects uptime during upgrades, and which components are scalable.

## <a id= "order"></a>Upgrade Order

When performing an upgrade, Ops Manager first upgrades individual components, and then runs one-time tasks.

1. The [Components](#components) section describes how Ops Manager upgrades PAS components and explains how individual component upgrades affect broader PAS capabilities.

2. The [One-Time Tasks](#tasks) section lists the tasks that Ops Manager runs after it upgrades the PAS components.

## <a id= "components"></a>Components

<%= partial '../upgrading/component_order_behavior' %>

## <a id= "tasks"></a>One-Time Tasks

After Ops Manager upgrades components, it performs system checks and launches UI apps and other PAS components as Cloud Foundry apps. These tasks run in the following order:

<table>
<tr>
  <td>1</td>
  <td>Apps Manager Errand - Push Apps Manager</td>
</tr>
<tr>
  <td>2</td>
  <td>Smoke Test Errand - Run smoke tests</td>
</tr>
<tr>
  <td>3</td>
  <td>Usage Service Errand - Push Usage Service app</td>
</tr>
<tr>
  <td>4</td>
  <td>Notifications Errand - Push Notifications app</td>
</tr>
<tr>
  <td>5</td>
  <td>Notifications UI Errand - Push Notifications UI</td>
</tr>
<tr>
  <td>6</td>
  <td>App Autoscaler Errand - Push App Autoscaler</td>
</tr>
<tr>
  <td>7</td>
  <td>App Autoscaler Smoke Test Errand - Run smoke tests against App Autoscaler</td>
</tr>
<tr>
  <td>8</td>
  <td>Register Autoscaling Service Broker</td>
</tr>
<tr>
  <td>9</td>
  <td>Destroy Autoscaling Service Broker</td>
</tr>
<tr>
  <td>10</td>
  <td>Bootstrap Errand - Recover MySQL cluster</td>
</tr>
<tr>
  <td>11</td>
  <td>MySQL Rejoin Unsafe Errand</td>
</tr>
</table>



