---
title: Understanding PAS Upgrades
owner: Release Engineering
---

<strong><%= modified_date %></strong>

This topic describes the order in which Ops Manager upgrades components and runs tasks during a full platform upgrade. It also explains how the scale of different Pivotal Application Service (PAS) components affects uptime during upgrades, and which components are scalable.

## <a id= "order"></a>Upgrade Order

When performing an upgrade, Ops Manager first upgrades individual components, and then runs one-time tasks.

1. The [Components](#components) section describes how Ops Manager upgrades PAS components and explains how individual component upgrades affect broader PAS capabilities.

2. The [One-Time Tasks](#tasks) section lists the tasks that Ops Manager runs after it upgrades the PAS components.

## <a id= "components"></a>Components

Ops Manager upgrades PAS components in a fixed order that honors component dependencies and minimizes downtime and other system limitations during the upgrade process.

The type and duration of downtime and other limitations that you can expect during a PAS upgrade reflect the following:

* Component instance scaling. See [How Single-Component Scaling Affects Upgrades](#single-components)

* Component upgrade order. See [Component Upgrade Order and Behavior](#order-behavior)

### <a id= "single-components"></a>How Single-Component Scaling Affects Upgrades

In [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) Ops Manager, the Pivotal Application Service (PAS) tile > **Resource Config** pane shows the components that the BOSH Director installs:

* **Scalable** component fields let you select the instance count from a range of settings or enter a custom value.
* **Unscalable** component fields allow a maximum of one instance.

When a component is scaled at a single instance, it can experience downtime and other limitations while the single VM restarts. This behavior might be acceptable for a test environment. To avoid downtime in a production environment, you should scale any scalable components, such as HAProxy, Router, and Diego cells, to more than one instance.

For more information about how the scale of each component affects upgrade behavior, see the [Component Upgrade Order and Behavior](#order-behavior) table below.

<p class="note"><strong>Note:</strong> A full Ops Manager upgrade may take close to two hours, and you will have limited ability to deploy an application during this time.</p>

### <a id= "order-behavior"></a>Component Upgrade Order and Behavior

The table lists components in the order that Ops Manager upgrades each. It also lists which components are scalable and explains how component downtime affects PAS app and control availability. The table includes the following columns:

* **Scalable**: Indicates whether the component is scalable above a single instance.
    <p class="note"><strong>Note:</strong> For components marked with a checkmark in this column, we recommend that you change the preconfigured instance value of <code>1</code> to a value that best supports your production environment. For more information about scaling a deployment, refer to the [Scaling Cloud Foundry topic](../concepts/high-availability.html).</p>

* **Extended Downtime**: Indicates that if there is only one instance of the component, that component is unavailable for up to five minutes during an Ops Manager upgrade.

* **Downtime Affects...**: Indicates the plane of the PAS platform that component downtime affects, if the component is scaled at single instance:
  - **Apps**: Downtime can affect app availability.
  - **Platform**: Apps remain available during component downtime, but you cannot push, stage, or restart apps, or run other Cloud Foundry command-line interface (cf CLI) commands.

* **Other Limitations and Information**: Provides the following information:
    * Component availability, behavior, and usage during an upgrade
    * Guidance on disabling the component before an upgrade</p>

<table border="1" class="nice" >
<tr>
  <th rowspan=2><strong>Upgrade Order</strong></th>
  <th rowspan=2><strong>Component</strong></th>
  <th rowspan=2><strong>Scalable</strong></th>
  <th rowspan=2><strong>Extended Downtime</strong></th>
  <th colspan=2><strong>Downtime Affects...</strong></th>
  <th rowspan=2><strong>Other Limitations and Information</strong></th>
</tr>
<tr>
  <th><strong>Apps</strong></th>
  <th><strong>Platform</strong></th>
</tr>
<tr>
  <td>1</td>
  <td>NATS</td>
  <td>&#10003;</td>
  <td>&#10003;</td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td>2</td>
  <td>File Storage</td>
  <td></td>
  <td>&#10003;</td>
  <td></td>
  <td>&#10003;</td>
  <td></td>
</tr>
<tr>
  <td>3</td>
  <td>MySQL Proxy</td>
  <td>&#10003;</td>
  <td>&#10003;</td>
  <td></td>
  <td>&#10003;</td>
  <td>
    The MySQL Proxy is responsible for managing failover of the MySQL Servers.
    If the Proxy becomes unavailable, then access to the MySQL Server could be broken.
  </td>
</tr>
<tr>
  <td>4</td>
  <td>MySQL Server</td>
  <td>&#10003;</td>
  <td>&#10003;</td>
  <td></td>
  <td>&#10003;</td>
  <td>
    The MySQL Server is responsible for persisting internal databases for the platform.
    If the MySQL Server becomes unavailable, then platform services that rely upon a database (Cloud Controller, UAA) will also become unavailable. See <a href="./internal-databases.html#downtime-effects">Effects of MySQL Downtime</a> for details.
  </td>
</tr>
<tr>
  <td>5</td>
  <td>Backup Restore Node</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td>6</td>
  <td>UAA</td>
  <td>&#10003;</td>
  <td></td>
  <td></td>
  <td>&#10003;</td>
  <td>
    If a user has an active authorization token prior to performing an upgrade, they can still log in using either a UI or the CLI.
  </td>
</tr>
<tr>
  <td>7</td>
  <td>Cloud Controller</td>
  <td>&#10003;</td>
  <td>&#10003;</td>
  <td></td>
  <td>&#10003;</td>
  <td></td>
</tr>
<tr>
  <td>8</td>
  <td>HAProxy</td>
  <td>&#10003;</td>
  <td>&#10003;</td>
  <td>&#10003;</td>
  <td></td>
  <td>
    HAProxy is used to load-balance incoming requests to the Router.
    If HAProxy is unavailable, you may lose the ability to make requests to applications unless there is another routing path from your load balancer to the Router.
  </td>
</tr>
<tr>
  <td>9</td>
  <td>Router</td>
  <td>&#10003;</td>
  <td>&#10003;</td>
  <td>&#10003;</td>
  <td></td>
  <td>
    The Router is responsible for routing requests to their application containers.
    If the Router is not available, then applications cannot receive requests.
  </td>
</tr>
<tr>
  <td>10</td>
  <td>MySQL Monitor</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td>11</td>
  <td>Clock Global</td>
  <td>&#10003;</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td>12</td>
  <td>Cloud Controller Worker</td>
  <td>&#10003;</td>
  <td>&#10003;</td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td>13</td>
  <td>Diego BBS</td>
  <td>&#10003;</td>
  <td>&#10003;</td>
  <td></td>
  <td>&#10003;</td>
  <td></td>
</tr>
<tr>
  <td>14</td>
  <td>Diego Brain</td>
  <td>&#10003;</td>
  <td>&#10003;</td>
  <td></td>
  <td>&#10003;</td>
  <td></td>
</tr>
<tr>
  <td>15</td>
  <td>Diego Cell</td>
  <td>&#10003;</td>
  <td>&#10003;</td>
  <td>&#10003;</td>
  <td>&#10003;</td>
  <td>
    If you only have one Diego Cell, upgrading causes downtime for all apps that run on it. These include apps pushed with <code>cf push</code> and apps automatically installed by PAS, like Apps Manager and the App Usage Service.
  </td>
</tr>
<tr>
  <td>16</td>
  <td>Doppler Server</td>
  <td>&#10003;</td>
  <td></td>
  <td></td>
  <td></td>
  <td>
    Ops Manager operators experience 2-5 minute gaps in logging.
  </td>
</tr>
<tr>
  <td>17</td>
  <td>Loggregator Trafficcontroller</td>
  <td>&#10003;</td>
  <td></td>
  <td></td>
  <td></td>
  <td>
    Ops Manager operators experience 2-5 minute gaps in logging.
  </td>
</tr>
<tr>
  <td>18</td>
  <td>TCP Router (if enabled)</td>
  <td>&#10003;</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
</table>

## <a id= "tasks"></a>One-Time Tasks

After Ops Manager upgrades components, it performs system checks and launches UI apps and other PAS components as Cloud Foundry apps. These tasks run in the following order:

<table>
<tr>
  <td>1</td>
  <td>Apps Manager Errand - Push Apps Manager</td>
</tr>
<tr>
  <td>2</td>
  <td>Smoke Test Errand - Run smoke tests</td>
</tr>
<tr>
  <td>3</td>
  <td>Usage Service Errand - Push Usage Service app</td>
</tr>
<tr>
  <td>4</td>
  <td>Notifications Errand - Push Notifications app</td>
</tr>
<tr>
  <td>5</td>
  <td>Notifications UI Errand - Push Notifications UI</td>
</tr>
<tr>
  <td>6</td>
  <td>App Autoscaler Errand - Push App Autoscaler</td>
</tr>
<tr>
  <td>7</td>
  <td>App Autoscaler Smoke Test Errand - Run smoke tests against App Autoscaler</td>
</tr>
<tr>
  <td>8</td>
  <td>Register Autoscaling Service Broker</td>
</tr>
<tr>
  <td>9</td>
  <td>Destroy Autoscaling Service Broker</td>
</tr>
<tr>
  <td>10</td>
  <td>Bootstrap Errand - Recover MySQL cluster</td>
</tr>
<tr>
  <td>11</td>
  <td>MySQL Rejoin Unsafe Errand</td>
</tr>
</table>



