---
title: Configuring PCF SSL Termination for vSphere Deployments
---

To use SSL termination in [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF), you must 
configure the Pivotal-deployed HAProxy load balancer or your own load
balancer.

We recommend using HAProxy in lab and test environments only.
Production environments should instead use a highly-available customer-provided
load balancing solution.

Select an SSL termination method to determine the steps you must take to
configure Elastic Runtime.

##<a id="haproxy"></a>Using the Pivotal HAProxy Load Balancer##

PCF deploys with a single instance of HAProxy for use in lab and test
environments.
You can use this HAProxy instance for SSL termination and load balancing to the
PCF Routers.
HAProxy can generate a self-signed certificate if you do not want to obtain a
signed certificate from a well-known certificate authority.

To use the HAProxy load balancer, you must create a wildcard A record in your
DNS and configure three fields in the Elastic Runtime product tile.

1. Create an A record in your DNS that points to the HAProxy IP address. The A
record associates the **System Domain** and **Apps Domain** that you configure
on the Cloud Controller page in Ops Manager with the HAProxy IP address.
    <br />
    <br />
    For example, with `cf.example.com` as the main subdomain for your CF install
	and an HAProxy IP address `172.16.1.1`, you must create an A record in your
	DNS that serves `example.com` and points `*.cf` to `172.16.1.1`.

    <table border="1" class="nice" >
        <tr>
            <th>Name</th>
			<th>Type</th>
			<th>Data</th>
			<th>Domain</th>
		</tr>
		<tr>
		    <td>*.cf</td>
		    <td>A</td>
		    <td>176.16.1.1</td>
		    <td>example.com</td>
        </tr>
	</table>

1. Use the Linux `host` command to test your DNS entry. The `host` command
should return your HAProxy IP address.
	<br />
	<br />
	Example:
	<pre class='terminal'>
	$ host cf.example.com
    cf.example.com has address 172.16.1.1
	$ host anything.example.com
    anything.cf.example.com has address 172.16.1.1
	</pre>

1. Configure two fields on the HAProxy page in Elastic Runtime:
    * **HAProxy IPs**: Enter the IP address for HAProxy.
    The HAProxy IP address must be in your subnet.
    * **SSL Certificate**:  If you are using a signed certificate from a
    well-known certificate authority, you can import it.
	Alternatively, you can generate a self-signed RSA certificate.

	<p class='note'><strong>Note</strong>: The domains that you use when you
	generate RSA public and private keys must match the wildcard A record that
	you create for HAProxy.
	</p>

1. Configure one field on the Router IPs page in Elastic Runtime:
    * **Router IPs**: Leave this field blank.
	HAProxy assigns the router IPs internally.

[Return to the Getting Started Guide](../getstarted/index.html)

##<a id="other"></a>Using Another Load Balancer##

Production environments should use a highly-available customer-provided load
balancing solution that does the following:

* Provides SSL termination with wildcard DNS location
* Provides load balancing to each of the PCF Router IPs
* Adds appropriate `x-forwarded-for` and `x-forwarded-proto` HTTP headers

You must register static IP addresses for PCF with your load balancer and
configure three fields in the Elastic Runtime product tile.

1. Register one or more static IP address for PCF with your load
balancer.

1. Create an A record in your DNS that points to your load balancer IP address.
The A record associates the **System Domain** and **Apps Domain** that you
configure on the Cloud Controller page in Ops Manager with the IP address of
your load balancer.
    <br />
    <br />
    For example, with `cf.example.com` as the main subdomain for your CF install
    and a load balancer IP address `10.10.1.1`, you must create an A record in
	your DNS that serves `example.com` and points `*.cf` to `10.10.1.1`.

    <table border="1" class="nice" >
      <tr>
        <th>Name</th>
			  <th>Type</th>
			  <th>Data</th>
			  <th>Domain</th>
		  </tr>
		  <tr>
		    <td>*.cf</td>
		    <td>A</td>
		    <td>10.10.1.1</td>
		    <td>example.com</td>
      </tr>
    </table>

1. Configure two fields on the HAProxy page in Elastic Runtime:
    * **HAProxy IPs**: Leave blank.
    * **SSL Certificate**:  If you are using a signed certificate from a
    well-known certificate authority, you can import it.
    Alternatively, you can generate a self-signed RSA certificate.

1. Configure one field on the Router IPs page in Elastic Runtime:
    * **Router IPs**: Enter the static IP address for PCF that you have
	registered with your load balancer.

<p class='note'><strong>Note</strong>: When adding or removing PCF routers, you must update your load balancing solution configuration with the appropriate IP addresses.</p>

[Return to the Getting Started Guide](../getstarted/index.html)