---
breadcrumb: Pivotal CF Documentation
title: Configuring Single Sign-On
---

If your user store is exposed as a SAML Identity Provider for single sign-on (SSO), you can set up SSO to allow users to access the [Pivotal CF Apps Manager Console](../console/index.html) without creating a new account or re-entering credentials.

##<a id="configure-pcf"></a>Configure Pivotal Cloud Foundry as a Service Provider

You must configure Pivotal Cloud Foundry (PCF) so that your Identity Provider can recognize PCF as a Service Provider. Follow the instructions below:

1. Log in to Ops Manager.
1. Click the **Elastic Runtime** tile. Select **Cloud Controller** on the **Settings** tab and verify your system domain.
	
	<%= image_tag("cc-system-domain.png") %>
1. Select **SSO Config**.
	
	<%= image_tag("saml-sso.png") %>

1. Enter a **Provider Name**. Your provider name appears as a link on your Pivotal login page, which you can access at `https://login.your-system-domain.com`. The image below shows an example login page with the provider name "Your Provider Name." If you click on this link, you are redirected to your Identity Provider for authentication.

	<%= image_tag("login-page.png") %>

1. Populate either **Provider Metadata** or **(OR) Provider Metadata URL**, depending on whether your Identity Provider exposes a Metadata URL. You can do this by either of the following:
	* Download your Identity Provider metadata and paste this XML into the **Provider Metadata** area.
		Ensure that the XML declaration tag is present at the beginning of the Metadata XML. For example:
		<pre>
		<?xml version="1.0" encoding="UTF-8"?>
		&lt;EntityDescriptor&gt;
		&lt;/EntityDescriptor&gt;
		</pre>
	* If your Identity Provider exposes a Metadata URL, provide the Metadata URL.


	<p class='note'><strong>Note</strong>: You only need to select one of the above configurations. If you configure both, your Identity Provider defaults to the <strong>(OR) Provider Metadata URL</strong>.</p>

1. Click **Save**.

1. Click **Apply Changes** on the Ops Manager home page for the configuration to take effect.

##<a id="configure-identity-provider"></a>Configure Your Identity Provider

You must configure your Identity Provider to recognize PCF as a Service Provider.

Download the Service Provider Metadata from `https://login.{your-system-domain.com}/saml/metadata`. Consult the documentation for your Identity Provider for configuration instructions.

<p class="note"><strong>Note</strong>: Some Identity Providers allow uploads of Service Provider Metadata. Other providers require you to manually enter the Service Provider Metadata into a form.</p>