---
breadcrumb: Pivotal Cloud Foundry&reg; Documentation
title: Configuring Single Sign-On
---

<strong><%= modified_date %></strong>

If your user store is exposed as a SAML Identity Provider for single sign-on (SSO), you can set up SSO to allow users to access the [Pivotal Cloud Foundry&reg;](https://network.pivotal.io/products/pivotal-cf) (PCF) [Apps Manager](../console/index.html) without creating a new account or re-entering credentials. This topic explains how to configure PCF and your Identity Provider (IdP) so that your IdP recognizes PCF as a service provider.

##<a id="configure-pcf"></a>Configure Pivotal Cloud Foundry&reg; as a Service Provider

You must configure Pivotal Cloud Foundry (PCF) so that your Identity Provider can recognize PCF as a Service Provider. Follow the instructions below:

1. Log in to Ops Manager.

1. Click the **Elastic Runtime** tile. Select **Authentication and Enterprise SSO** on the **Settings** tab.

1. Scroll down and select the **SAML Identity Provider** option.

	<%= image_tag("er17-config-authsso-saml.png") %>

1. Access your Pivotal login page at `login.YOUR-SYSTEM-DOMAIN`. Record your Provider Name, which appears as a link.

    <%= image_tag("meta-url.png") %>

1. Navigate to the Provider Name link. When redirected to the **Use an Identity Provider** page, you must complete the following steps:
    * Retrieve the metadata URL from your Identity Provider and copy it into the **Use an Identity Provider** area.
    * Create a passphrase. Ops Manager encrypts data using the passphrase that you provide.
    * Read the **End User License Agreement**, and select the checkbox to accept the terms.
    * Click **Setup Authentication**.

1. Navigate back to the **Elastic Runtime** tile **Authentication and Enterprise SSO** section. Fill in the **Provider Name** and **(OR) Provider Metadata URL** fields with the information above.

1. (Optional) Configure checkboxes for **Sign Authentication Requests** and **Require Signed Assertions** to determine what your IdP and PCF deployment expect from each other.

1. On the Ops Manager home page, click **Apply Changes** for the configuration to take effect.

1. In the **Authentication and Enterprise SSO** section, click **Save**.

##<a id="configure-identity-provider"></a>Configure Your Identity Provider

You must configure your Identity Provider to recognize PCF as a Service Provider.

Download the Service Provider Metadata from `https://login.YOUR-SYSTEM-DOMAIN/saml/metadata`. Consult the documentation for your Identity Provider for configuration instructions.

Refer to the table below for information about certain industry-standard Identity Providers and how to integrate them with Pivotal Cloud Foundry&reg;:

<table border="1">
	<tr>
		<th>Solution Name</th>
		<th>Integration Guide</th>
	</tr>
	<tr>
		<td><a href='http://www.ca.com/us/securecenter/ca-single-sign-on.aspx'>CA Single Sign-On aka CA SiteMinder</a></td>
		<td><a href="./images/CASM-PivotalCloudFoundryFederationRunbook-ver1.0.pdf">PDF</a></td>
	</tr>
	<tr>
		<td><a href='https://www.pingidentity.com/en/products/pingfederate.html'>Ping Federate</a></td>
		<td><a href="./images/PingFederate-PCF-SSO-Runbook.pdf">PDF</a></td>
	</tr>
</table>


<p class="note"><strong>Note</strong>: Some Identity Providers allow uploads of Service Provider Metadata. Other providers require you to manually enter the Service Provider Metadata into a form.</p>