---
breadcrumb: Pivotal Cloud Foundry Documentation
title: Configuring TCP Routing in PAS
owner: Routing
---



This topic describes how to enable the TCP routing feature in a Pivotal Application Service (PAS) deployment.

<p class='note breaking'><strong>Breaking Change:</strong> If you have mutual TLS app identity verification enabled, Envoy only recognizes communications from the Gorouter. Therefore, TCP no longer works.</p>


## <a id="enable-tcp"></a> Enable TCP Routing

TCP Routing enables applications and services to be run on PCF that require inbound requests on non-HTTP protocols. Before enabling TCP Routing, review the [Pre-Deployment Steps](../adminguide/enabling-tcp-routing.html) that describe required networking infrastructure changes.

<%= partial '../customizing/tcp_routing_enable' %><a id='tcp-routing-enable'></a>

## <a id="disable-tcp"></a> Disable TCP Routing

1. If you want to disable TCP routing after enabling it, click **Select this option if you prefer to enable TCP Routing at a later time**.

1. Manually remove the TCP routing domain.
